/* Déclaration des variables CSS globales */
:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif; /* Police par défaut */
  --font-slab: var(--font-default); /* Police alternative réutilisant la police par défaut */
  --modal-duration: 0.8s; /* Durée de l'animation des modals */
  /*-- Police --*/
  --font-size-middle:16px;
  --font-size-base:18px;/*base proportionnelle a la police de base du navigateur soit 18px */
  --font-size-large:20px;
  --font-size-xlarge:23px;
}

/* Réinitialisation globale des marges et des espacements */
* {
  box-sizing: border-box; /* Assure que le padding et les bordures sont inclus dans la largeur et la hauteur */
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime les espacements par défaut */
}

/* Début des styles pour la Landing Page */
/*--------------------------------------------------------------------------------------------------------------------------*/
*/*--------------------------------------------- Style desktop first--------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

/* Styles généraux du corps de la page */
body {
  background-image: url("background.png"); /* Ajoute une image de fond */
  font-family: var(--font-default); /* Applique la police par défaut définie dans :root */
  font-size: var(--font-size-base); /* Définit la taille de la police */
  margin: 0 auto; /* Centre le corps de la page horizontalement */
  height: 100%;

}

/* Styles pour les paragraphes */
p {
  margin-bottom: 0; /* Supprime la marge inférieure */
  padding: 0.5vw; /* Ajoute un espacement interne basé sur la largeur de la fenêtre */
}


button {
  width: 20vh;
  background: #fe142f; /* Fond rouge */
  padding: 1% 5%; /* Espacement interne */
  color: #fff; /* Texte blanc */
  border-radius: 0.5rem; /* Bords arrondis */
  cursor: pointer; /* Curseur en pointeur au survol */
  font-size: var(--font-size-middle); /* Taille de police */
  position: relative;
  transition: background-color 0.3s ease; /* Animation de transition */

}

/* Style pour les étiquettes (label) */
label {
  font-family: var(--font-default); /* Police par défaut définie dans :root */
  font-size: var(--font-size-base); /* Taille de police */
  font-weight: normal; /* Poids de la police normal */
  display: inline-block;
  margin-bottom: 11px; /* Espace en dessous des labels */
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------- Header ---------------------------------*/
/*-------------------------------------------------------------------------------------*/
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


}
header img { 
  margin-left: 5vw;/**/
  height:30%;
}

/*-------------------------------------------------------------------------------------*/
/*-- Conteneur principal Barre de navigation --*/
.topnav { 
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  

}

/* Styles pour les liens dans la barre de navigation */
.topnav a {
  text-align: center; /* Centre le texte dans chaque lien */
  text-decoration: none; /* Supprime le soulignement par défaut des liens */
  font-size: var(--font-size-base); /* Définit la taille de la police des liens */
  padding: 0.6rem ;
  color: black;
  font-weight: 600;
}

/* Effet au survol des liens dans la barre de navigation */
.topnav a:hover {
  background-color: #ff0000; /* Fond rouge au survol */
  color: #ffffff; /* Texte en blanc au survol */
  border-radius: 0.5rem; /* Bords arrondis au survol */
  border:white solid 2px  ;
  font-weight: 500;
}
/* ----Style spécifique  */
.accueil {
  display: none;
}
/* Icône dans la barre de navigation (cachée par défaut) */
.topnav i {
  display: none; /* Cachée par défaut */
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------- MAIN  ---------------------------------*/
/*-------------------------------------------------------------------------------------*/


/*------------------------- Section Principale ----------------------------------------*/
/* Conteneur principale*/
.hero-section {
  width: 90%;
  height:65vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:0 auto;
  background-color: #000;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2); /* Ombre autour de la section */
  margin-top:2vh;
}

/* Conteneur zone de texte (gauche)*/
.hero-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content:center;
  padding-left: 5%;
  z-index: 0;
  position:relative;

}

/* Titres */
.hero-section h1 {
  font-size: 4.5rem; /* Taille de police */
  color: white; /* Texte blanc */
  position: absolute;
  width: 65vw;
  z-index: 1;
  top:5%;
}
.hero-section img {
  width: 60%;
}
/* Affichage conditionnelle bouton "je m'inscris" mobile */
.button-mobile {
  display: none;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------- footer  ---------------------------------*/
/*-------------------------------------------------------------------------------------*/

footer {
  color: red;
  font-weight: 900;
  padding: 5vh 2vh;

}

/***********************************************/
/* Styles pour l'arrière-plan du modal (fenêtre modale) */
.bground {
  display: none; /* Caché par défaut */
  position: fixed; /* Position fixe pour occuper tout l'écran */
  z-index: 1; /* Niveau de superposition */
  left: 0;
  top: 0;
  height: 100%; /* Hauteur pleine */
  width: 100%; /* Largeur pleine */

}

/* Contenu du modal */
.content {
  margin: 5% auto; /* Centré avec des marges */
  width: 100%; /* Largeur maximale */
  max-width: 500px; /* Largeur maximale du contenu */
  animation-name: modalopen; /* Animation d'ouverture */
  animation-duration: var(--modal-duration); /* Durée d'animation avec la variable globale */
  background: #232323; /* Fond sombre */
  border-radius: 10px; /* Bords arrondis */
  overflow: hidden; /* Cache tout débordement */
  position: relative;
  color: #fff; /* Texte blanc */
  padding-top: 10px; /* Espacement en haut */
}

/* Corps du modal */
.modal-body {
  padding: 15px 8%; /* Espacement interne */
  margin: 15px auto; /* Marges externes */
}


/* Style des champs de texte */
.text-control {
  margin: 0; /* Pas de marges */
  padding: 8px; /* Espacement interne */
  width: 100%; /* Prend toute la largeur disponible */
  border-radius: 8px; /* Bords arrondis */
  font-size: 20px; /* Taille de police */
}

/* Gestion des erreurs dans le formulaire */
.formData[data-error]::after {
  content: attr(data-error); /* Affiche le message d'erreur contenu dans l'attribut */
  font-size: 0.4em; /* Taille de police réduite */
  color: #e54858; /* Couleur rouge pour l'erreur */
  display: block;
  margin-top: 7px; /* Espace au-dessus */
  margin-bottom: 7px; /* Espace en dessous */
  text-align: right; /* Alignement à droite */
  line-height: 0.3;
  opacity: 0; /* Invisible par défaut */
  transition: 0.3s; /* Transition douce */
}

.formData[data-error-visible="true"]::after {
  opacity: 1; /* Rendre visible les erreurs */
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858; /* Bordure rouge pour les champs avec erreur */
}

/* Styles pour les cases à cocher (checkbox) */
.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px; /* Décalage vers la droite */
  font-size: 12px; /* Taille de police réduite */
  font-weight: normal; /* Poids normal pour le texte */
}

/* Styles des icônes de cases à cocher */
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a; /* Bordure verte */
  border-radius: 50%; /* Bordure arrondie */
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s; /* Transition douce pour les changements */
}

/* Effets visuels pour les cases cochées */
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a; /* Remplissage vert */
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Invisible par défaut */
  transition: 0.3s;
}

/* Case à cocher masquée */
.checkbox-input {
  display: none;
}

/* Style pour les cases cochées */
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1; /* Rendre visible la coche */
}

/* Styles pour la croix de fermeture des modals */
.close {
  position: absolute;
  right: 15px; /* Positionnée à droite */
  top: 15px; /* Positionnée en haut */
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer; /* Curseur en pointeur */
  transform: scale(0.7); /* Réduction de la taille */
}

/* Croisillons pour le bouton de fermeture */
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff; /* Couleur blanche */
}

.close:before {
  transform: rotate(45deg); /* Inclinaison pour former une croix */
}

.close:after {
  transform: rotate(-45deg); /* Inclinaison pour former une croix */
}


/* Styles personnalisés pour les éléments select */
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem; /* Taille de police */
  font-weight: normal; /* Poids de la police normal */
}

/* Masque les éléments select par défaut */
.custom-select select {
  display: none;
}

/* Apparence des éléments sélectionnés */
.select-selected {
  background-color: #fff; /* Fond blanc pour les éléments sélectionnés */
}

/* Style de la flèche à l'intérieur de l'élément select */
.select-selected:after {
  position: absolute; /* Positionnement absolu à l'intérieur de l'élément select */
  content: ""; /* Ajout d'un contenu vide pour représenter la flèche */
  top: 10px; /* Position verticale de la flèche */
  right: 13px; /* Position horizontale de la flèche */
  width: 11px; /* Largeur de la flèche */
  height: 11px; /* Hauteur de la flèche */
  border: 3px solid transparent; /* Bordure transparente sauf pour le bas et la gauche */
  border-bottom-color: #f00; /* Bordure inférieure rouge pour créer la flèche */
  border-left-color: #f00; /* Bordure gauche rouge pour compléter la flèche */
  transform: rotate(-48deg); /* Rotation pour orienter la flèche vers le bas */
  border-radius: 5px 0 5px 0; /* Arrondit les coins pour un effet stylisé */
}

/* Faire pointer la flèche vers le haut lorsque la boîte select est ouverte */
.select-selected.select-arrow-active:after {
  transform: rotate(135deg); /* Rotation pour faire pointer la flèche vers le haut */
  top: 13px; /* Ajustement de la position de la flèche */
}


/* Style des options dans le select */
.select-items {
  position: absolute; /* Positionnement absolu pour apparaître sous le select */
  background-color: #fff; /* Fond blanc pour les options */
  top: 89%; /* Position verticale des options */
  left: 0;
  right: 0;
  z-index: 99; /* Superposition élevée pour s'assurer que les options sont visibles */
}

/* Masquer les options lorsque le select est fermé */
.select-hide {
  display: none;
}


/* Fin du style personnalisé pour le select */

/* Style pour les étiquettes de texte */
.text-label {
  font-weight: normal; /* Poids normal de la police */
  font-size: 16px; /* Taille de police */



}
/***************************************************************************************************************************/
/******************************************* MEDIA QUERIES *****************************************************************/
/**************************************************************************************************************************/

/*-------------------------------------- Tablette moins de 800 px -----------------------------------*/
@media screen and (min-width: 1440px) {

}


/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------- Tablette moins de 768px px ------------------------*/
  /* Styles pour les écrans de moins de 768px */
@media screen and (min-width:426px) and (max-width: 1023px) {

}


/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------- mobile  moins de 768px px ------------------------*/
@media screen and (min-width:250px) and (max-width: 425px) {

  /* ajustement du body  pour mobile*/
  body {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  /* ajustement du header  pour mobile*/
  header {
    justify-content: space-between;

  }

  /* Logo */

  header img {
    height: 3vh;
  }
  /*affichage icone*/
  
  .topnav span {
    display: none;
  }
  .topnav i {
    display: flex;
    color: red; /* Couleur rouge pour l'icône */
    font-size: 24px; /* Taille de l'icône */
    cursor: pointer; /* Changer le curseur au survol */
  }
}


