/********************************************************************************************************/
/*   Nom du fichier : modal.css                                                                         */
/*   Auteur : Trackozor                                                                                 */
/*   Date de création : 13/10/2024                                                                      */
/*   Description : Feuille de style pour le site d 'événement esport Game on                            */
/*   Version : 1.0                                                                                      */
/*   -----------------------------------------------------------------------                            */
/*   Informations supplémentaires :                                                                     */
/*   - Compatible avec les navigateurs : Chrome, Firefox, Edge                                          */
/*   - Design responsive : Oui                                                                          */
/*   - Conformité W3C : Oui                                                                             */
/**********************************************************************************************************/

/********************************************************************************************************/
/*                               MOBILE FIRST                                                           */
/*******************************************************************************************************/

/* ------------------------------------------------------------------ */
/*                          VARIABLES                                 */
/* ------------------------------------------------------------------ */
:root {
    /* Définit la police par défaut utilisée dans l'application */
    --font-default: Arial, Helvetica, sans-serif;

    /* Durée des animations pour les modales */
    --modal-duration: 0.8s;

    /* Tailles de police standardisées pour une meilleure gestion typographique */
    --font-size-small: 0.8rem; /* Petite taille de texte, idéale pour des notes ou des sous-titres */
    --font-size-middle: 1.1rem; /* Taille intermédiaire, souvent utilisée pour le texte principal */
    --font-size-base: 1rem; /* Taille de base, par défaut pour la plupart des textes */
    --font-size-large: 1.4rem; /* Grande taille de texte, idéale pour les titres */
    --font-size-xlarge: 2rem; /* Très grande taille, pour les titres principaux ou des éléments importants */
}

/* ------------------------------------------------------------------ */
/*                          STYLES GLOBAUX                            */
/* ------------------------------------------------------------------ */

/*============= Réinitialisation globale des marges et des espacements ============ */
html { 
    box-sizing: border-box;/* Définit le modèle de box-sizing pour inclure les bordures et les marges dans les dimensions des éléments */
    margin: 0;/* Supprime les marges par défaut de l'élément <html> */
    padding: 0;/* Supprime les espacements internes par défaut de l'élément <html> */
}

/*=============== Style du corps de la page =============*/
body {
    min-width: 300px;/* Définit une largeur minimale pour garantir une mise en page adaptée aux très petits écrans */
    max-width: 1200px; /* Limite la largeur maximale du contenu à 1200px pour éviter une trop grande extension sur les grands écrans */
    font-family: var(--font-default); /* Applique la police par défaut définie dans les variables CSS globales */
    background-color: white; /* Définit une couleur de fond blanche pour le corps du document */
    display: flex; /* Utilise Flexbox pour organiser les enfants du <body> */ 
    flex-direction: column;/* Aligne les éléments enfants verticalement dans une colonne */
    justify-content: center; /* Centre les éléments enfants sur l'axe vertical */
    align-items: center; /* Centre les éléments enfants sur l'axe horizontal */
    width: 85vw; /* Définit une largeur relative à 85 % de la largeur de la fenêtre */
    margin: 0 auto;/* Centrage horizontal du contenu dans la fenêtre en ajoutant des marges automatiques */
}


/*=================== Styles des boutons ================*/
button {
    width: 10rem; /* Définit une largeur fixe de 10rem pour le bouton */
    background: #fe142f; /* Applique une couleur de fond rouge vif (#fe142f) */
    padding: 2% 5%; /* Ajoute un espacement interne : 2% en haut/bas et 5% à gauche/droite */
    color: #fff; /* Définit la couleur du texte en blanc */
    border: none; /* Supprime les bordures par défaut du bouton */
    border-radius: 0.5rem; /* Arrondit les coins du bouton avec un rayon de 0.5rem */
    cursor: pointer; /* Change le curseur en "pointeur" pour indiquer qu'il est cliquable */
    font-size: var(--font-size-small); /* Utilise la taille de police définie dans les variables CSS globales */
    position: relative; /* Définit une position relative pour permettre des ajustements de placement internes */
    transition: background-color 0.3s ease; /* Ajoute une transition douce pour les changements de couleur de fond */
}

/* ================ Styles pour les listes ==================*/
ul {
    list-style-type: none; /* Supprime les puces ou numéros par défaut des éléments de liste */
}


/*================= Styles des étiquettes =====================*/
label {
    font-family: var(--font-default); /* Applique la police par défaut définie dans les variables CSS globales */
    font-size: var(--font-size-small); /* Définit la taille de police à une valeur petite pour les étiquettes */
    padding: 3% 0; /* Ajoute un espacement interne vertical de 3% et aucun espacement horizontal */
    flex-wrap: nowrap; /* Empêche le contenu de se répartir sur plusieurs lignes dans un contexte flex */
}


/*================= Style global pour les liens =================*/
a {
    color: inherit; /* Hérite de la couleur du texte parent (cela enlève le bleu par défaut) */
    text-decoration: none; /* Enlève le soulignement */
}

fieldset {
    border: none; /* Supprime la bordure par défaut autour du champ groupé */
}

.sr-only {
  position: absolute; /* Positionné en dehors du flux de la page */
  width: 1px; /* Très petit mais toujours existant */
  height: 1px; 
  padding: 0; 
  margin: -1px; /* Empêche les marges d'affecter le layout */
  overflow: hidden; /* Contenu masqué */
  clip: rect(0, 0, 0, 0); /* Masqué visuellement */
  white-space: nowrap; /* Empêche le retour à la ligne */
  border: 0; /* Pas de bordures */
}

/*-------------------- ANIMATIONS ----------------------------------------*/

/* Animation pour faire clignoter la bordure rouge */
@keyframes borderBlink {
    0% {
        border-color: red; /* Début de l'animation : la bordure est rouge */
    }
    50% {
        border-color: transparent; /* Milieu de l'animation : la bordure devient transparente */
    }
    100% {
        border-color: red; /* Fin de l'animation : la bordure redevient rouge */
    }
}
/*-----------------------------------------------------------------------------*/
/*--------------------  HEADER  --------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

/* Conteneur */
header {
    width: 90vw; /* Le header occupe 95% de la largeur de la fenêtre */
    display: flex; /* Utilise Flexbox pour organiser les éléments enfants */
    position: relative; /* Définit une position relative pour un placement interne ou d'autres ajustements */
    align-items: center; /* Aligne verticalement les éléments enfants au centre */
    justify-content: center; /* Centre les éléments enfants horizontalement */
    margin-bottom: 5%; /* Ajoute un espace de 5% de hauteur sous le header */
    background-color: white; /* Définit une couleur de fond blanche pour le header */
}


/* Image */
header img {
    width: 50vw; /* L'image occupe 50% de la largeur de la fenêtre */
    max-width: 150px; /* Limite la largeur maximale de l'image à 150px */
    height: auto; /* Préserve les proportions de l'image */
    position: fixed; /* Fixe l'image à un emplacement spécifique par rapport à la fenêtre */
    object-fit: cover; /* Redimensionne l'image pour couvrir son conteneur tout en maintenant son ratio d'aspect */
    left: 4.5%; /* Place l'image à 3.5% du bord gauche de la fenêtre */
    top: 1.2%; /* Place l'image à 1.2% du bord supérieur de la fenêtre */
    background-color: white; /* Ajoute un fond blanc derrière l'image */
}


/*--------------------------------------------------------------------------------------*/
/*--------------------- BARRE DE NAVIGATION --------------------------------------------*/
/*--------------------------------------------------------------------------------------*/

/* Conteneur */
.topnav {
  display: flex; /* Active Flexbox pour organiser les éléments enfants */
  flex-direction: column; /* Organise les éléments en colonne */
  width: 90vw; /* Occupe 95% de la largeur de la fenêtre */
  flex-wrap: nowrap; /* Empêche les éléments enfants de passer à la ligne */
  padding: 0.3rem;
}


/* Style au survol */
.topnav span:hover {
  background-color: #ff0000; /* Change la couleur de fond en rouge vif (#ff0000) au survol */
  color: #ffffff; /* Change la couleur du texte en blanc au survol */
  border-radius: 0.5rem; /* Ajoute un léger arrondi aux coins de l'élément */
  font-weight: 500; /* Rend le texte légèrement plus épais */
  padding: 0.3rem; /* Ajoute un espacement interne de 0.3rem tout autour */
  text-decoration: underline; 
}


/* Style Icône Liste */
.topnav i {
    display: block; /* Définit l'icône comme un bloc pour occuper toute la largeur disponible */
    color: red; /* Définit la couleur de l'icône en rouge */
    cursor: pointer; /* Change le curseur en "pointeur" pour indiquer qu'il est cliquable */
    position: fixed; /* Place l'icône à une position fixe par rapport à la fenêtre */
    right: 3.4%; /* Positionne l'icône à 3.4% du bord droit de la fenêtre */
    top: 1%; /* Positionne l'icône à 0.5% du bord supérieur de la fenêtre */
    padding: 0.4rem; /* Ajoute un espacement interne de 0.4rem tout autour de l'icône */
    font-size: 1.4rem; /* Définit une taille de police de 1.4rem pour l'icône */

}

/* Style au survol de l'icône liste */
.topnav i:hover {
    background-color: #ff0000; /* Change la couleur de fond en rouge vif au survol */
    color: #ffffff; /* Change la couleur de l'icône en blanc au survol */
    border-radius: 0.5rem; /* Arrondit les coins de l'icône */
    font-weight: 500; /* Rend le texte ou l'icône légèrement plus épais */
    
}
/* Affichage conditionnel de la liste (par défaut) */
.nav-links {
  display: none; /* Masque les liens par défaut */
  position: relative; /* Position relative pour les ajustements internes */
  opacity: 0; /* Rends les liens invisibles initialement */
  transition: all 0.3s ease; /* Transition douce pour toutes les propriétés */
}

/* Style des listes dans .nav-links */
.nav-links ul {
  display: flex; /* Active Flexbox pour organiser les éléments */
  margin: 2% auto; /* Centre la liste horizontalement */
  justify-content: center; /* Centre les éléments de la liste */
  text-align: center; /* Centre le texte */
  padding: 1% 0; /* Ajoute un espace en haut et en bas */
}

.nav-links li {
  padding: 0.5% 0; /* Espacement vertical pour chaque élément */
  font-weight: 700; /* Texte en gras */
}

/* Affichage de la liste au clic sur l'icône (mode responsive) */
.topnav.responsive .nav-links {
  display: flex; /* Affiche les liens */
  flex-direction: column; /* Organisation verticale */
  justify-content: center; /* Centre les éléments verticalement */
  text-align: center; /* Centre le texte */
  width: 100%; /* Occupe toute la largeur disponible */
  position: relative; /* Évite les chevauchements */
  margin: 0% auto; /* Centre horizontalement */
  padding: 1rem 0; /* Ajoute un espacement interne pour la lisibilité */
  margin-top: 10%; /* Décale les éléments vers le bas */
  opacity: 1; /* Rends les liens visibles */
}

/* Style des liens de la liste */
.topnav.responsive .nav-links a {
  display: flex; /* Affiche chaque lien comme un élément flex */
  flex-wrap: nowrap; /* Empêche le contenu de se diviser sur plusieurs lignes */
  justify-content: center; /* Centre le contenu horizontalement */
  margin: 1% 0; /* Ajoute un espacement vertical entre les liens */
}

/* SECTION PRINCIPALE */

/* Conteneur principal */
.hero-section {
  display: flex; /* Active Flexbox pour organiser les éléments */
  flex-direction: column; /* Organise les enfants en colonne */
  background-color: transparent; /* Fond transparent */
  width: 90vw; /* Occupe 90% de la largeur disponible */
  margin: 0 auto; /* Centre horizontalement */
  box-shadow: none; /* Désactive les ombres */
  justify-content: center; /* Centre verticalement */
  transition: top 2s ease-in-out; /* Transition douce pour le positionnement vertical */
  overflow-y: auto; /* Permet le défilement si nécessaire */
  box-sizing: border-box; /* Inclut le padding dans les dimensions */
}

/* Image dans la section Hero */
.hero-section img {
  width: 90vw; /* L'image occupe 90% de la largeur */
  border-radius: 2%; /* Arrondi des coins de l'image */
  object-fit: cover; /* Redimensionne l'image en couvrant son conteneur */
  margin: 0 auto; /* Centre horizontalement l'image */
  justify-content: center; /* Centre horizontalement avec Flexbox */
  align-items: center; /* Centre verticalement avec Flexbox */
  transition: top 1s ease-in-out; /* Transition douce pour les changements de position */
}

/* Conteneur parent pour les textes */
.hero-content {
  display: flex; /* Active Flexbox pour organiser les enfants */
  flex-direction: column; /* Organise les enfants en colonne */
  width: 90vw; /* Occupe 90% de la largeur disponible */
  justify-content: center; /* Centre verticalement */
  margin: 0 auto; /* Centre horizontalement */
}

/* Style du titre */
.hero-content h2 {
  color: black; /* Couleur noire pour le titre */
  font-size: 2rem; /* Taille du texte pour le titre */
  padding-left: 0; /* Aucun espacement à gauche */
  padding-top: 1vh; /* Espacement vertical en haut */
}

/* Style du texte */
.hero-content p {
  font-size: 0.8rem; /* Taille réduite pour les paragraphes */
  font-weight: 700; /* Texte en gras */
  padding-bottom: 5%; /* Espacement sous le paragraphe */
}

/* Boutons "Je m'inscris" */

/* Style pour le bouton d'inscription en mode desktop */
.desktop-signup {
  display: none; /* Masque le bouton en mode desktop */
}

/* Style pour le bouton d'inscription en mode mobile */
.mobile-signup {
  display: block; /* Affiche le bouton en mode mobile */
  justify-content: center; /* Centre le contenu horizontalement */
  margin: 5% auto; /* Centre le bouton et ajoute un espacement */
}

/* Positions pour la section Hero */

.hero-section {
  transform: translateY(0%);
  transition: transform 0.6s ease-in-out;
}

.hero-responsive {
  transform: translateY(12%);
  transition: transform 0.5s ease-in-out;
}


/*------------------------------------------------------------------------------------*/
/*------------------ Fenêtre modale --------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/* Conteneur principal pour le repli de la fenêtre modale */
.bground {
  display: none; /* Masque la fenêtre modale par défaut */
  position: fixed; /* Positionne la fenêtre par rapport à la fenêtre du navigateur */
  z-index: 9999; /* Positionne la modale au-dessus des autres éléments */
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Corrige le centrage horizontal */
  width: 100%; /* Occupe toute la largeur pour un effet plein écran */
  height: 100%; /* Permet à la hauteur de s'adapter au contenu */
  background-color: rgba(0, 0, 0, 1); /* Couleur de fond noire avec transparence */
  color: white; /* Texte blanc */
  box-sizing: border-box; /* Inclut le padding dans les dimensions */
  overflow-y: auto; /* Permet le défilement si le contenu dépasse la hauteur visible */
  border-radius: 1%;
}
.modal-default {
    top: 6.5%;
    transition: top 0.3s ease-in-out; /* Transition douce pour les changements */
}

.modal-responsive {
    top: 24%;
    transition: top 0.3s ease-in-out; /* Transition douce pour les changements */
}
.bground.active {
  display: block; /* Affiche la modale lorsqu'elle est active */
}
.bground .content {
  border-radius: 2%;
}
.modal-body {
  background-color: #0b0c07;

}

/* Style global du formulaire */
.formData {
  display: flex; /* Définit le formulaire comme un bloc */
  justify-content: center;
  margin: 0 auto; /* Centre le formulaire horizontalement */
  padding: 0; /* Supprime les espacements internes */
  width: 90%; /* Le formulaire occupe 100% de la largeur disponible */
  position: relative; /* Position relative pour des ajustements internes */
  left: -5.5%; /* Décale le formulaire de 7.5vw vers la gauche */
  
}

.formData label {
  font-size:0.8rem;
  width:95vw;
}

.formData .legend {
  padding-left: 12%; /* Ajoute un espacement de 12% à gauche pour le texte */
  font-size: 0.8rem; /* Utilise une taille de police définie par une variable CSS */
  width:90vw

}
#birthdate::placeholder {
  color: transparent; /* Cache le placeholder */
}
/* Liste des informations personnelles */
.form-list li {
  display: flex; /* Utilise Flexbox pour organiser les éléments */
  flex-direction: column; /* Organise les éléments verticalement */
  width: 90vw; /* Chaque élément de la liste occupe 100% de la largeur */
  justify-content: flex-start;
  padding: 0; /* Supprime les espacements internes */
  margin: 0 auto; /* Centre horizontalement chaque élément */
}

/* Champs d'entrée des informations personnelles */
.form-list input {
  width: 95%; /* Les champs occupent toute la largeur disponible */
  padding: 3% 2%; /* Ajoute un espacement de 4% en haut/bas et 2% à gauche/droite */
  border: none; /* Supprime les bordures par défaut */
  border-radius: 0.5rem; /* Ajoute des coins arrondis de 0.5rem */
  margin: 0 auto;
}


/* Input de type checkbox invisible */
.checkbox-input {
  position: absolute; /* Positionne l'input en dehors du flux normal */
  opacity: 0; /* Rends l'élément invisible */
  width: 0; /* Définit une largeur de 0 */
  height: 0; /* Définit une hauteur de 0 */
}


/* Conteneur de l'icône de la case à cocher */
/* Liste en grille */
.location-list {
  display: grid;
  grid-template-columns: repeat(3, auto); /* 3 colonnes de largeur égale */
  grid-template-rows:repeat(2,auto) ;
  width: 90vw; /* Ajuste la largeur totale */
  margin: 0 auto; /* Centre la grille horizontalement */
  align-items: center;
  margin-top:3%;


}

.location-list li p {
  display:flex; 
  align-items: center; 
  padding:4% 0;
  margin:0 auto;
}


/* Cacher l'input radio */
.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Conteneur de l'icône (cercle avec bordure) */
.checkbox-icon {
  display: inline-flex; /* Utilise Flexbox pour centrer le point */
  width: 1.2rem; /* Ajuste la taille globale du cercle */
  height: 1.2rem;
  margin:2%;
  align-items: center; /* Centre verticalement le contenu */
  justify-content: center; /* Centre horizontalement le contenu */
  border-radius: 50%; /* Cercle parfait */
  border: 2px solid #c4c4c4; /* Bordure blanche par défaut */
  background-color: transparent; /* Fond transparent */
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Transition douce pour bordure et fond */
  
}

/* Point central (vert) */
.checkbox-icon::after {
  content: ''; /* Crée un contenu vide pour le point central */
  width: 0.8rem; /* Taille du point central */
  height: 0.8rem;
  border-radius: 50%; /* Cercle parfait */
  background-color: #279E7A; /* Couleur verte du point */
  opacity: 0; /* Caché par défaut */
  transition: opacity 0.3s ease-in-out; /* Transition douce pour l'apparition du point */
}

/* Style lorsque l'input est sélectionné */
.checkbox-input:checked + .checkbox-icon {
  border-color: #279E7A; /* La bordure devient verte */
}

.checkbox-input:checked + .checkbox-icon::after {
  opacity: 1; /* Le point vert devient visible */
}

.consentement {
  display: flex; /* Active Flexbox pour organiser les éléments */
  flex-direction: column; /* Organise les éléments verticalement */
  width: 95vw; /* La liste occupe toute la largeur disponible */
  justify-content: flex-start; /* Aligne les éléments verticalement au centre */
  align-items: center;
}
.consentement li {
  width:95vw;
  font-size: 0.6rem;
}

/* Cache l'input natif */
.checkbox-input2 {
  appearance: none; /* Supprime le style natif du navigateur */
  position: absolute; /* Retire du flux visuel */
  opacity: 0; /* Rend l'élément invisible */
  width: 0;
  height: 0;
}

/* Conteneur de la case à cocher */
.checkbox-icon2 {
  display: inline-flex; /* Utilise Flexbox pour centrer la coche */
  width: 1.1rem; /* Taille de la case */
  height: 1.1rem; /* Taille de la case */
  background-color: #c4c4c4; /* Couleur grise par défaut */
  border-radius: 0.3rem; /* Coins légèrement arrondis */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  border: 2px solid transparent; /* Bordure par défaut transparente */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transitions douces */
  cursor: pointer; /* Curseur pointeur */
  margin: 1%  1.5% 1% 0 ; /* Espace harmonisé en pourcentage */

}

/* Coche blanche (invisible par défaut) */
.checkbox-icon2::after {
  content: '✓'; /* Symbole de coche */
  font-size: 0.8rem; /* Taille de la coche */
  color: white; /* Couleur de la coche */
  opacity: 0; /* Cachée par défaut */
  transform: rotate(20deg); /* Incline légèrement la coche vers la droite */
  transition: opacity 0.3s ease; /* Transition fluide pour l'apparition */
}

/* Style de la case cochée */
.checkbox-input2:checked + .checkbox-label2 .checkbox-icon2 {
  background-color: #279E7A; /* Fond vert */
  border-color: #279E7A; /* Bordure verte */
}

/* Coche visible lorsqu'elle est cochée */
.checkbox-input2:checked + .checkbox-label2 .checkbox-icon2::after {
  opacity: 1; /* Rend la coche visible */
}


/* Bouton de fermeture (croix) */
.close {
  display: flex; /* Active Flexbox pour organiser les éléments */
  position: absolute;
  width: 100%; /* Prend toute la largeur disponible */
  justify-content: flex-end;
  background-color: transparent; /* Fond transparent */
  height:2%;
  margin: 0; /* Supprime les marges externes */
  z-index: 5001;
}

/* Création de la croix avec un symbole + pivoté */
.close span {
  font-size: var(--font-size-xlarge); /* Utilise une taille de police définie dans les variables CSS */
  font-weight: 500; /* Applique un poids de police moyen */
  background-color: transparent; /* Fond transparent */
  display: inline-block; /* Permet un alignement en ligne tout en respectant les dimensions */
  transform: rotate(45deg); /* Pivote le symbole pour former une croix */
  font-size: 2rem; /* Taille de police pour la croix */
  padding-bottom: 0; /* Aucun espacement en bas */
  margin-bottom: 0; /* Aucune marge en bas */
}

/* Bouton de soumission */
.btn-submit {
    display: flex; /* Active Flexbox pour centrer les éléments */
    justify-content: center; /* Centre horizontalement le contenu */
    margin: 0 auto; /* Centre le bouton horizontalement */
}

/* Modale de confirmation (cachée par défaut) */
#confirmation-modal {
  display: none;
  flex-direction: column;
  position: fixed; /* Positionne la modale en fondé */
  top: 2%; /* Positionne la modale au haut de la fenêtre */
  left: 0; /* Positionne la modale à gauche de la fenêtre */
  width: 100%; /* Occupe toute la largeur disponible */
  height: 100%; /* Occupe toute la hauteur disponible */
  background-color: rgba(0, 0, 0,1); /* Fond transparent avec une transparence de 50% */
  z-index: 5000; /* Positionne la modale au dessus des autres éléments */
  align-items: center; /* Centre le contenu verticalement */
  justify-content: space-evenly;
}

#confirmation-modal span {
  font-size: 2rem;
  width:80vw;
  text-align: center;
}

#confirmation-modal button {
  width: 25vw;
  padding: 5%;
  color: white;
  border: none;
}


/* Classe pour les bordures rouges des champs avec des erreurs */
.text-control.error-input {
  border: 2px solid red; /* Bordure rouge pour indiquer une erreur */
  box-shadow: 0 0 1rem red; /* Ombre rouge pour mettre en évidence l'erreur */
  animation: borderBlink 5s ease-in-out 3; /* Animation pour un effet de clignotement */
}

/* Classe pour le message d'erreur */
.error-modal {
  display: block; /* Rend l'erreur visible */
  font-size: 0.8rem; /* Taille de police légèrement réduite */
  background-color:#232323; /* Fond noir pour contraster avec le texte */
  color: red; /* Texte rouge pour indiquer une erreur */
  padding: 1% 0; /* Ajoute un espacement interne pour rendre le texte plus lisible */
  width: 90%; /* Largeur ajustée pour s'insérer correctement sous le champ */
  text-align: left; /* Texte aligné à gauche */
  margin-top: 2%; /* Espace au-dessus pour ne pas chevaucher le champ */
  position: relative; /* Position relative pour s'adapter dynamiquement à son parent */
  border-radius: 4px; /* Coins arrondis pour un design moderne */
}



/*-------------------------------------------------------------------------*/
/*------------------------ FOOTER -------------------------------------------*/
/*---------------------------------------------------------------------------*/

.copyright {
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement (nécessite Flexbox pour fonctionner pleinement) */
    margin: 0 auto; /* Centre horizontalement l'élément dans son conteneur */
    font-size: 0.8rem; /* Définit une petite taille de police pour le texte */
    text-align: center; /* Centre le texte à l'intérieur de l'élément */
    color: red; /* Définit la couleur du texte en rouge */
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------- MEDIA QUERIES ------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width:1023px) {
  .nav-links a {
    font-size: 1.2rem;
    width:auto
  }
  .hero-section h2 {
    font-size: 2.5rem;
  }
  .hero-section p {
    font-size: 1.5rem;
    padding-bottom: 1%;;
  }
  .mobile-signup {
    font-size: 1rem;
  }
  .formData {
    left:-3%;
  }
  .formData label {
    font-size: 1rem;
  }
  .formData .legend {
    font-size: 1rem;
    padding-left: 5%;
  }
  .consentement li{
  padding-left: 5%;
  }
  .close span {
    font-size: 2.5rem;
    padding-top: 1%;
  }
  .text-control{
    font-size: 1rem;
  }
  .error-modal {
    font-size: 1.2rem;
    padding-bottom:0;
  }
}
/*------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

/* -----------------Ordinateurs portable entre 1024 px et 1440px ------------------------------------------*/

@media screen and (min-width: 1024px) and (max-width:1439px) {

  /* icône */
  .topnav i {
    display: none;
  }

  .topnav li span {
    display: flex;
    font-size: 1rem;
    font-weight: 700;    
  }
  .logo {
    padding-top:1%;
  }

  /* menu textuelle */
  .nav-links  {
    gap: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    font-weight: 900;
    width: 100%;
    padding-top:1.5%;
    opacity: 1;
  }
  .nav {
    width: 60vw;
  }
  /*------------section principale ------------- */
  /* Conteneur */
  .hero-section {
    position:relative;
    width: 90vw;
    display: flex;
    flex-direction: row;
    background-color: #0b0c07;
    margin: 0 auto;
  }

  .hero-content {
    width: 50vw;
    justify-content:flex-end;
    padding: 4%;
    margin-bottom: 5%;
  }

  .hero-section h2{
    color: #ffffff;
    position: absolute;
    z-index: 3;
    font-size: 4.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 65vw;
    top:-12%;
    font-weight: 500;
  }

  .hero-section p{
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 8%;
    line-height: 1.5rem;
  }

  .hero-section img {
    width: 75vw;
    margin: 0;
    padding: 0;
    object-fit: cover;
  }

  .desktop-signup {
    display: flex;
    font-size: 1.2rem;
    padding:2%;
    justify-content: center;
  }

  .mobile-signup{
    display: none;
  }

  .bground {
    width: 95vw;
    max-width: 1024px;
    background-color: white;
  }
  .bground.active {
    width:95vw
  }
  .modal-body {
    width: 50vw;
    justify-content: center;
    margin:2% auto;
    border-radius: 2%;
    padding-bottom: 2%;
    box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.25);

  }
  .content{
    display:fixed;
    width: 50vw;
    margin: 0 auto;
    justify-content: center;
  }
  .formData {
    width: 50vw;
    margin: 0 auto;
    justify-content: center;
  }

  .formData label {
    font-size: 1rem;
    padding-left: 2%;
  }

  .formData .legend {
    font-size: 1rem;
    padding-left: 5%;
  }
  .text-control {
    font-size: 1rem;
  }
  .formData li {
    width: 45vw;
  }

  .location-list { 
    grid-template-columns: repeat(3, 18vw); /* 3 colonnes de largeur égale */
    padding-left: 3%;
  }

  .consentement {
    width: 45vw;
    margin: 2% auto;
    padding-left: 5%;
    padding-bottom: 5%;
  }
  
  .btn-submit {
    font-size: 1.2rem;
  }

  
  .copyright {
    position: absolute;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 5%;
    margin: 0;
    left:5%

  }
}

/* ------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------Écrans larges supérieur à 1440 px --------------------------------------------*/
@media screen and (min-width: 1440px)  {  
/*------------header------------- */
  body {
    max-width: 1240px;
  }
  /* Conteneur */
  header {
    width: 80vw;
    display: flex;
    font-weight: 900;
  }

  header img {

    width: 70vw;
    margin-top:3%;
    padding-left: 8%;
    padding-right: 5%;
  }


  /*----------Barre de navigation-----*/
  /* icône */
  .topnav i {
    display: none;
  }

  .topnav li span {
    font-size: 1.2rem;
    font-weight: 700;    
  }

  /* menu textuelle */
  .nav-links  {
    gap: 3%;
    display: flex;
    padding-top: 5%;
    flex-wrap: nowrap;
    font-weight: 900;
    width: 100%;
    justify-content: flex-end;
    opacity: 1;
  }
  .nav {
    width: 60vw;
  }
  /*------------section principale ------------- */
  /* Conteneur */
  .hero-section {
    width: 75vw;
    display: flex;
    flex-direction: row;
    background-color: #0b0c07;
    border-radius: 1rem;
  }

  .hero-content {
    width: 60vw;
    justify-content:flex-end;
    padding:0 4%;
  }

  .hero-section h2{
    color: #ffffff;
    position: absolute;
    z-index: 1;
    font-size:5.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50vw;
    top: 15%;
    font-weight: 500;
  }

  .hero-section p{
    color: lightgray;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2rem;
    padding-bottom: 10%;

  }

  .hero-section img {
    position:relative;
    width: 90vw;
    margin: 0;
    padding: 0;
    object-fit: contain;
    border-radius: 0 1rem 1rem 0;
  }
  .modal-default {
    top: 10.5%;
    transition: top 1s ease-in-out; /* Transition douce pour les changements */
  }

  .desktop-signup {
    display: flex;
    font-size: 1.6rem;
    width:12vw;
    padding:2% 5%;
    justify-content: center;
    margin-bottom:25%
  }

  .mobile-signup{
    display: none;
  }
  .bground {
    width: 100vw;
    background-color: white;
  }
  .bground.active {
    width:95vw
  }
  .modal-body {
    width: 40vw;
    justify-content: center;
    margin:2% auto;
    padding-bottom: 2%;
    box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.25);

  }
  .content{
    display:fixed;
    width: 40vw;
    height:auto;
    margin: 0 auto;
    justify-content: center;
  }
  .formData {
    width: 40vw;
    margin: 0 auto;
    justify-content: center;
  }

  .formData label {
    font-size: 1rem;
    padding-left: 2%;
    margin:1% 0;
    padding:1%; 
  }

  .formData .legend {
    font-size: 1rem;
    padding-left: 6%;
  }
  .text-control {
    font-size: 1rem;
    padding: 1%;
    height:2%
  }
  .formData li {
    width: 35vw;
    padding-left: 5%;
    margin:0;
  }

  .location-list { 
    grid-template-columns: repeat(3, 14vw); 
    grid-template-rows: repeat(2,2vw);
    padding-left: 4%;
    padding-top: 1%;
    margin:0 auto;
  }

  .consentement {
    width: 40vw;
    margin: 2% auto;
    padding-left: 9%;
    padding-bottom: 1%;
  }
  
  .btn-submit {
    font-size: 1rem;
  }

  
  .copyright {
    position: absolute;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding-top: 2%;
    left:9%

  }
}


