/********************************************************************************************************/
/*   Nom du fichier : modal.css                                                                         */
/*   Auteur : Trackozor                                                                                 */
/*   Date de création : 13/10/2024                                                                      */
/*   Description : Feuille de style pour le site d 'événement esport Game on                            */
/*   Version : 1.0                                                                                      */
/*   -----------------------------------------------------------------------                            */
/*   Informations supplémentaires :                                                                     */
/*   - Compatible avec les navigateurs : Chrome, Firefox, Edge                                          */
/*   - Design responsive : Oui                                                                          */
/*   - Conformité W3C : Oui                                                                             */
/**********************************************************************************************************/

/********************************************************************************************************/
/*                               MOBILE FIRST                                                           */
/*******************************************************************************************************/

/* ------------------------------------------------------------------ */
/*                          VARIABLES                                 */
/* ------------------------------------------------------------------ */
:root {
    /* Définit la police par défaut utilisée dans l'application */
    --font-default: Arial, Helvetica, sans-serif;

    /* Durée des animations pour les modales */
    --modal-duration: 0.8s;

    /* Tailles de police standardisées pour une meilleure gestion typographique */
    --font-size-small: 0.8rem; /* Petite taille de texte, idéale pour des notes ou des sous-titres */
    --font-size-middle: 1.1rem; /* Taille intermédiaire, souvent utilisée pour le texte principal */
    --font-size-base: 1rem; /* Taille de base, par défaut pour la plupart des textes */
    --font-size-large: 1.4rem; /* Grande taille de texte, idéale pour les titres */
    --font-size-xlarge: 2rem; /* Très grande taille, pour les titres principaux ou des éléments importants */
}

/* ------------------------------------------------------------------ */
/*                          STYLES GLOBAUX                            */
/* ------------------------------------------------------------------ */

/*============= Réinitialisation globale des marges et des espacements ============ */
html { 
    box-sizing: border-box;/* Définit le modèle de box-sizing pour inclure les bordures et les marges dans les dimensions des éléments */
    margin: 0;/* Supprime les marges par défaut de l'élément <html> */
    padding: 0;/* Supprime les espacements internes par défaut de l'élément <html> */
}

/*=============== Style du corps de la page =============*/
body {
    min-width: 300px;/* Définit une largeur minimale pour garantir une mise en page adaptée aux très petits écrans */
    max-width: 1200px; /* Limite la largeur maximale du contenu à 1200px pour éviter une trop grande extension sur les grands écrans */
    font-family: var(--font-default); /* Applique la police par défaut définie dans les variables CSS globales */
    background-color: white; /* Définit une couleur de fond blanche pour le corps du document */
    display: flex; /* Utilise Flexbox pour organiser les enfants du <body> */ 
    flex-direction: column;/* Aligne les éléments enfants verticalement dans une colonne */
    justify-content: center; /* Centre les éléments enfants sur l'axe vertical */
    align-items: center; /* Centre les éléments enfants sur l'axe horizontal */
    width: 85vw; /* Définit une largeur relative à 85 % de la largeur de la fenêtre */
    margin: 0 auto;/* Centrage horizontal du contenu dans la fenêtre en ajoutant des marges automatiques */
}


/*=================== Styles des boutons ================*/
button {
    width: 10rem; /* Définit une largeur fixe de 10rem pour le bouton */
    background: #fe142f; /* Applique une couleur de fond rouge vif (#fe142f) */
    padding: 2% 5%; /* Ajoute un espacement interne : 2% en haut/bas et 5% à gauche/droite */
    color: #fff; /* Définit la couleur du texte en blanc */
    border: none; /* Supprime les bordures par défaut du bouton */
    border-radius: 0.5rem; /* Arrondit les coins du bouton avec un rayon de 0.5rem */
    cursor: pointer; /* Change le curseur en "pointeur" pour indiquer qu'il est cliquable */
    font-size: var(--font-size-small); /* Utilise la taille de police définie dans les variables CSS globales */
    position: relative; /* Définit une position relative pour permettre des ajustements de placement internes */
    transition: background-color 0.3s ease; /* Ajoute une transition douce pour les changements de couleur de fond */
}

/* ================ Styles pour les listes ==================*/
ul {
    list-style-type: none; /* Supprime les puces ou numéros par défaut des éléments de liste */
}


/*================= Styles des étiquettes =====================*/
label {
    font-family: var(--font-default); /* Applique la police par défaut définie dans les variables CSS globales */
    font-size: var(--font-size-small); /* Définit la taille de police à une valeur petite pour les étiquettes */
    padding: 3% 0; /* Ajoute un espacement interne vertical de 3% et aucun espacement horizontal */
    flex-wrap: nowrap; /* Empêche le contenu de se répartir sur plusieurs lignes dans un contexte flex */
}


/*================= Style global pour les liens =================*/
a {
    color: inherit; /* Hérite de la couleur du texte parent (cela enlève le bleu par défaut) */
    text-decoration: none; /* Enlève le soulignement */
}

fieldset {
    border: none; /* Supprime la bordure par défaut autour du champ groupé */
}

/* ANIMATIONS */

/* Animation pour faire clignoter la bordure rouge */
@keyframes borderBlink {
    0% {
        border-color: red; /* Début de l'animation : la bordure est rouge */
    }
    50% {
        border-color: transparent; /* Milieu de l'animation : la bordure devient transparente */
    }
    100% {
        border-color: red; /* Fin de l'animation : la bordure redevient rouge */
    }
}
/*-----------------------------------------------------------------------------*/
/*--------------------  HEADER  --------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

/* Conteneur */
header {
    width: 95vw; /* Le header occupe 95% de la largeur de la fenêtre */
    display: flex; /* Utilise Flexbox pour organiser les éléments enfants */
    position: relative; /* Définit une position relative pour un placement interne ou d'autres ajustements */
    align-items: center; /* Aligne verticalement les éléments enfants au centre */
    justify-content: center; /* Centre les éléments enfants horizontalement */
    margin-bottom: 5%; /* Ajoute un espace de 5% de hauteur sous le header */
    background-color: white; /* Définit une couleur de fond blanche pour le header */
}


/* Image */
header img {
    width: 50vw; /* L'image occupe 50% de la largeur de la fenêtre */
    max-width: 150px; /* Limite la largeur maximale de l'image à 150px */
    height: auto; /* Préserve les proportions de l'image */
    position: fixed; /* Fixe l'image à un emplacement spécifique par rapport à la fenêtre */
    object-fit: cover; /* Redimensionne l'image pour couvrir son conteneur tout en maintenant son ratio d'aspect */
    left: 3.5%; /* Place l'image à 3.5% du bord gauche de la fenêtre */
    top: 1.2%; /* Place l'image à 1.2% du bord supérieur de la fenêtre */
    background-color: white; /* Ajoute un fond blanc derrière l'image */
}


/*--------------------------------------------------------------------------------------*/
/*--------------------- BARRE DE NAVIGATION --------------------------------------------*/
/*--------------------------------------------------------------------------------------*/

/* Conteneur */
.topnav {
  display: flex; /* Active Flexbox pour organiser les éléments enfants */
  flex-direction: column; /* Organise les éléments en colonne */
  width: 95vw; /* Occupe 95% de la largeur de la fenêtre */
  flex-wrap: nowrap; /* Empêche les éléments enfants de passer à la ligne */
}


/* Style au survol */
.topnav span:hover {
  background-color: #ff0000; /* Change la couleur de fond en rouge vif (#ff0000) au survol */
  color: #ffffff; /* Change la couleur du texte en blanc au survol */
  border-radius: 0.5rem; /* Ajoute un léger arrondi aux coins de l'élément */
  font-weight: 500; /* Rend le texte légèrement plus épais */
  padding: 0.3rem; /* Ajoute un espacement interne de 0.3rem tout autour */
  text-decoration: underline; /* Souligne le texte au survol */
}


/* Style Icône Liste */
.topnav i {
    display: block; /* Définit l'icône comme un bloc pour occuper toute la largeur disponible */
    color: red; /* Définit la couleur de l'icône en rouge */
    cursor: pointer; /* Change le curseur en "pointeur" pour indiquer qu'il est cliquable */
    position: fixed; /* Place l'icône à une position fixe par rapport à la fenêtre */
    right: 3.4%; /* Positionne l'icône à 3.4% du bord droit de la fenêtre */
    top: 0.5%; /* Positionne l'icône à 0.5% du bord supérieur de la fenêtre */
    padding: 0.4rem; /* Ajoute un espacement interne de 0.4rem tout autour de l'icône */
    font-size: 1.4rem; /* Définit une taille de police de 1.4rem pour l'icône */
}

/* Style au survol de l'icône liste */
.topnav i:hover {
    background-color: #ff0000; /* Change la couleur de fond en rouge vif au survol */
    color: #ffffff; /* Change la couleur de l'icône en blanc au survol */
    border-radius: 0.5rem; /* Arrondit les coins de l'icône */
    font-weight: 500; /* Rend le texte ou l'icône légèrement plus épais */
    padding: 0.4rem; /* Maintient un espacement interne de 0.4rem */
}

/* Affichage conditionnel de la liste (par défaut) */
.nav-links {
    display: none; /* Masque la liste par défaut */
    margin-bottom: 2%; /* Ajoute un espacement sous la liste si elle est visible */
}

/* Style des listes dans .nav-links */
.nav-links ul {
    width: 70%; /* Réduit la largeur de la liste à 70% de la fenêtre */
    margin: 0 auto; /* Centre horizontalement la liste */
    justify-content: center; /* Centre les éléments de la liste en mode flex (si utilisé) */
    text-align: center; /* Centre le texte des éléments */
}

/* Affichage de la liste au clic sur l'icône (mode responsive) */
.topnav.responsive .nav-links {
    display: flex; /* Active Flexbox pour organiser les éléments */
    flex-direction: column; /* Dispose les éléments verticalement */
    font-size: 1rem; /* Définit une taille de police de 1rem */
    position: relative; /* Position relative pour ajustements internes */
    text-align: center; /* Centre le texte des éléments de la liste */
    justify-content: center; /* Centre verticalement les éléments de la liste */
    padding-top: 15%; /* Ajoute un espacement au-dessus de la liste */
    flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne */
    width: 90%; /* Réduit la largeur totale de la liste à 90% */
    z-index: 2; /* Place la liste au-dessus des autres éléments */
    margin: 0 auto; /* Centre horizontalement la liste */
    right: 10%; /* Décale la liste de 10% vers la droite */
}

/* Style des liens de la liste */
.topnav.responsive .nav-links a {
    display: flex; /* Affiche chaque lien comme un élément flex */
    flex-wrap: nowrap; /* Empêche le contenu du lien de se diviser sur plusieurs lignes */
    justify-content: center; /* Centre le contenu horizontalement */
}

/*----------------------------------------------------------------------------------------------*/
/*--------------------- SECTION PRINCIPALE------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

/* Conteneur principale */*
.hero-section {
    display: flex; /* Active la mise en page flexbox pour disposer les éléments en colonne */
    flex-direction: column; /* Les éléments à l'intérieur sont organisés en colonne (du haut vers le bas) */
    background-color: white; /* Définit un fond blanc pour la section */
    width: 90vw; /* La section occupe 95% de la largeur de son conteneur parent */
    margin: 0 auto; /* Centrage horizontal de la section (marges égales de chaque côté) */
    box-shadow: none; /* Désactive les ombres autour de la section */
    justify-content: center;
}

/* Image dans la section Hero */
.hero-section img {
    width: 90vw; /* L'image occupe 90% de la largeur de la fenêtre */
    border-radius: 5%; /* Ajoute un arrondi de 5% aux coins de l'image */
    object-fit: cover; /* Redimensionne l'image pour couvrir son conteneur tout en conservant ses proportions */
    margin: 0 auto; /* Centre horizontalement l'image dans son conteneur */
    justify-content: center; /* Centre horizontalement si utilisé dans un contexte Flexbox */
    align-items: center; /* Centre verticalement si utilisé dans un contexte Flexbox */
}

/* Conteneur parent pour les textes et le titre */
.hero-content {
    display: flex; /* Active la mise en page Flexbox pour organiser les enfants */
    flex-direction: column; /* Organise les enfants en colonne (du haut vers le bas) */
    width: 90vw; /* Le conteneur occupe 90% de la largeur de la fenêtre */
    justify-content: center; /* Centre les éléments enfants verticalement */
    margin: 0 auto; /* Centre le conteneur horizontalement */
}

/* Style du titre */
.hero-content h2 {
    color: black; /* Définit la couleur du texte du titre en noir */
    font-size: 2.2rem; /* Définit une taille de police importante pour le titre */
    padding-left: 0; /* Aucun espacement à gauche du titre */
    padding-top: 10%; /* Ajoute un espacement de 10% en haut pour positionner le titre */
}

/* Style du texte */
.hero-content p {
    font-size: 0.8rem; /* Définit une petite taille de texte pour les paragraphes */
    font-weight: 700; /* Applique un poids de police gras au texte */
    padding-bottom: 5%; /* Ajoute un espacement de 5% en bas du paragraphe */
}


/* Affichage conditionnel bouton je m'inscris */
/* Style pour le bouton d'inscription en mode desktop */
.desktop-signup {
    display: none; /* Masque le bouton destiné au mode desktop par défaut */
}

/* Style pour le bouton d'inscription en mode mobile */
.mobile-signup {
    display: block; /* Rend le bouton visible en mode mobile */
    justify-content: center; /* Centre le contenu horizontalement (nécessite Flexbox pour fonctionner pleinement) */
    margin: 5% auto; /* Ajoute un espace de 5% autour et centre le bouton horizontalement */
}


/*------------------------------------------------------------------------------------*/
/*------------------ Fenêtre modale --------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/* Conteneur principal pour le repli de la fenêtre modale */
.bground {
  display: none; /* Masque la fenêtre modale par défaut */
  position: fixed; /* Fixe la fenêtre par rapport à la fenêtre du navigateur */
  z-index: 1; /* Positionne la modale au-dessus des autres éléments */
  right: 0%; /* Place le bord droit de la modale à l'extrémité droite */
  top: 10%; /* Positionne la modale à 8% du haut de la fenêtre */
  height: 100%; /* Occupe toute la hauteur de la fenêtre */
  width: 100%; /* Occupe toute la largeur de la fenêtre */
  background-color: black; /* Applique une couleur de fond noire */
  color: white; /* Applique une couleur de texte blanche */
  justify-content: center; /* Centre les éléments enfants horizontalement (nécessite Flexbox) */
  margin: 0 auto; /* Centre le contenu horizontalement */
  padding-bottom: 2%; /* Ajoute un espacement en bas du contenu */
}

/* Style global du formulaire */
.formData {
  display: block; /* Définit le formulaire comme un bloc */
  margin: 0 auto; /* Centre le formulaire horizontalement */
  padding: 0; /* Supprime les espacements internes */
  width: 100%; /* Le formulaire occupe 100% de la largeur disponible */
  position: relative; /* Position relative pour des ajustements internes */
  left: -7.5vw; /* Décale le formulaire de 7.5vw vers la gauche */
  bottom: 1%; /* Décale légèrement le formulaire vers le bas */
}

.formData .legend {
  padding-left: 12%; /* Ajoute un espacement de 12% à gauche pour le texte */
  font-size: var(--font-size-small); /* Utilise une taille de police définie par une variable CSS */
}

/* Liste des informations personnelles */
.form-list li {
  display: flex; /* Utilise Flexbox pour organiser les éléments */
  flex-direction: column; /* Organise les éléments verticalement */
  width: 100%; /* Chaque élément de la liste occupe 100% de la largeur */
  justify-content: center; /* Centre verticalement les éléments */
  padding: 0; /* Supprime les espacements internes */
  margin: 0 auto; /* Centre horizontalement chaque élément */
}

/* Champs d'entrée des informations personnelles */
.form-list input {
  width: 100%; /* Les champs occupent toute la largeur disponible */
  padding: 4% 2%; /* Ajoute un espacement de 4% en haut/bas et 2% à gauche/droite */
  border: none; /* Supprime les bordures par défaut */
  border-radius: 0.5rem; /* Ajoute des coins arrondis de 0.5rem */
}

/* Localisation */
.location-list {
  display: flex; /* Active Flexbox pour organiser les éléments */
  flex-direction: row; /* Organise les éléments horizontalement */
  width: 100%; /* La liste occupe toute la largeur disponible */
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
  gap: 5%; /* Ajoute un espacement de 5% entre les éléments */
  padding-left: 10%; /* Ajoute un espacement de 10% à gauche */
  padding-bottom:2%;
  align-items: center; /* Aligne les éléments verticalement au centre */
}
.consentement {
  display: flex; /* Active Flexbox pour organiser les éléments */
  flex-direction: column; /* Organise les éléments verticalement */
  width: 90%; /* La liste occupe toute la largeur disponible */
  padding-left: 15%; /* Ajoute un espacement de 10% à gauche */
  justify-content: flex-start; /* Aligne les éléments verticalement au centre */
}
.checkbox-icon2{
  display: inline-flex; /* Utilise Flexbox pour l'affichage en ligne */
  position: relative; /* Nécessaire pour positionner les pseudo-éléments ::before et ::after */
  width: 1.2rem; /* Définit la taille du cercle externe */
  height: 1rem; /* Définit la hauteur du cercle */
  margin-right: 1px; /* Ajoute un espace de 10px à droite */
}
/* Input de type checkbox invisible */
.checkbox-input, .checkbox2-input {
  position: absolute; /* Positionne l'input en dehors du flux normal */
  opacity: 0; /* Rends l'élément invisible */
  width: 0; /* Définit une largeur de 0 */
  height: 0; /* Définit une hauteur de 0 */
}


/* Conteneur de l'icône de la case à cocher */
.checkbox-icon {
    display: inline-flex; /* Utilise Flexbox pour l'affichage en ligne */
    position: relative; /* Nécessaire pour positionner les pseudo-éléments ::before et ::after */
    width: 1.2rem; /* Définit la taille du cercle externe */
    height: 1rem; /* Définit la hauteur du cercle */
}

/* Style de l'icône de base (cercle) */
.checkbox-icon::before {
    content: ''; /* Crée un contenu vide */
    display: inline-flex; /* Affiche le cercle */
    width: 100%; /* Occupe toute la largeur définie dans .checkbox-icon */
    height: 100%; /* Occupe toute la hauteur définie dans .checkbox-icon */
    border-radius: 50%; /* Rend le cercle parfaitement rond */
    border: 2px solid green; /* Applique une bordure verte au cercle */
    background-color: transparent; /* Le fond du cercle reste transparent */
    padding: 0; /* Aucun espace interne */
}

/* Point central (caché par défaut) */
.checkbox-icon::after {
    content: ''; /* Crée un contenu vide */
    display: none; /* Caché par défaut */
    position: absolute; /* Positionnement absolu par rapport à .checkbox-icon */
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Corrige le positionnement pour un parfait centrage */
    width: 0.6rem; /* Taille du point central */
    height: 0.6rem; /* Hauteur du point central */
    border-radius: 50%; /* Forme un petit cercle */
    background-color: green; /* Couleur verte pour le point central */
}

/* Afficher le point central lorsque l'input est sélectionné */
.checkbox-input:checked + .checkbox-label .checkbox-icon::after {
    display: inline-flex; /* Affiche le point central lorsque la case est cochée */
}

/* Bouton de fermeture (croix) */
.close {
    display: flex; /* Active Flexbox pour organiser les éléments */
    width: 100%; /* Prend toute la largeur disponible */
    flex-direction: row-reverse; /* Aligne les éléments en commençant par la fin */
    background-color: transparent; /* Fond transparent */
    height: 1vh; /* Définit une hauteur très faible */
    padding: 0 5%; /* Ajoute un espacement horizontal de 5% */
    margin: 0; /* Supprime les marges externes */
}

/* Création de la croix avec un symbole + pivoté */
.close span {
    font-size: var(--font-size-xlarge); /* Utilise une taille de police définie dans les variables CSS */
    font-weight: 500; /* Applique un poids de police moyen */
    background-color: transparent; /* Fond transparent */
    display: inline-block; /* Permet un alignement en ligne tout en respectant les dimensions */
    transform: rotate(45deg); /* Pivote le symbole pour former une croix */
    font-size: 2rem; /* Taille de police pour la croix */
    padding-bottom: 0; /* Aucun espacement en bas */
    margin-bottom: 0; /* Aucune marge en bas */
}

/* Bouton de soumission */
.btn-submit {
    display: flex; /* Active Flexbox pour centrer les éléments */
    justify-content: center; /* Centre horizontalement le contenu */
    margin: 0 auto; /* Centre le bouton horizontalement */
}

/* Modale de confirmation (cachée par défaut) */
#confirmation-modal {
    display: none; /* Masque la modale de confirmation */
}

/* Bouton de fermeture de la modale */
#close-modal-btn {
    display: none; /* Masque le bouton de fermeture par défaut */
}

/* Bordure rouge pour les champs avec des erreurs */
.error-input {
    border: 12px solid red; /* Applique une bordure épaisse rouge pour indiquer une erreur */
}

/* Style de la modale d'erreur */
.error-modal {
    background-color: #e3fc03; /* Fond jaune clair */
    color: red; /* Texte en rouge */
    padding: 2%; /* Ajoute un espacement interne de 2% */
    width: 100%; /* Occupe toute la largeur disponible */
    border-radius: 0.5rem; /* Ajoute des coins arrondis */
    text-align: center; /* Centre le texte */
    border: 3px solid red; /* Bordure rouge pour indiquer l'erreur */
    margin-top: 5px; /* Ajoute un espace au-dessus */
    display: none; /* Cachée par défaut */
}
/*---------------------------------------------------------------------------*/
/*------------------------ FOOTER -------------------------------------------*/
/*---------------------------------------------------------------------------*/

.copyright {
    width: 60vw; /* La largeur de l'élément est fixée à 60% de la largeur de la fenêtre */
    justify-content: center; /* Centre le contenu horizontalement (nécessite Flexbox pour fonctionner pleinement) */
    margin: 0 auto; /* Centre horizontalement l'élément dans son conteneur */
    font-size: 0.6rem; /* Définit une petite taille de police pour le texte */
    text-align: center; /* Centre le texte à l'intérieur de l'élément */
    color: red; /* Définit la couleur du texte en rouge */
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------- MEDIA QUERIES -------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------Style pour téléphone en mode paysage---------------------------------*/
@media screen and (min-width: 320px) and (max-width: 767px) and (max-height: 600px) and (orientation: landscape) {
/* Logo */
  .logo {
      width: 20vw; /* Ajuste la largeur du logo à 20% de la fenêtre */
      padding-top: 1%; /* Ajoute un léger espacement en haut */
  }

  /* Navigation */
  .nav {
      margin-bottom: 2%; /* Ajoute un espace de 2% en dessous de la navigation */
  }

  /* Conteneur principal de la navigation */
  .topnav {
      flex-direction: row; /* Aligne les éléments horizontalement pour une disposition efficace */
      width: 100vw; /* Occupe toute la largeur de la fenêtre */
      justify-content: center; /* Centre les éléments horizontalement */
      margin: 0 auto; /* Centre le conteneur horizontalement */
  }


/* Ajustement de l'icône de menu en mode paysage */
.topnav i {
    display: flex; /* Affiche l'icône en mode Flexbox */
    top: 2%; /* Positionne l'icône à 2% du bord supérieur */
    right: 5%; /* Positionne l'icône à 5% du bord droit */
}

/* Style au survol des liens */
.topnav span:hover {
    padding: 0.2rem; /* Ajoute un léger espacement interne au survol */
    border-radius: 0.4rem; /* Ajoute des coins arrondis pour un effet visuel agréable */
}


  /* Ajustement des liens de la liste */
  .topnav.responsive .nav-links {
    display:flex;
    flex-direction: row; 
    justify-content: center;/* Organise les liens horizontalement pour paysage */
    margin:0 auto; /* Centre les liens horizontalement */
    font-size: 0.9rem; /* Taille de police légèrement réduite */
    width: 90vw;
  }

  /* Style des liens dans la nav en paysage */
  .topnav.responsive .nav-links a {
    padding: 0.3rem;
    margin: 0 0.5rem; /* Espacement entre les liens */
  }

  /* Section principale en mode paysage */
  .hero-section {
    flex-direction: row; /* Organise la section en lignes horizontales */
    background-color: #0b0c07;
    width: 90vw;
    padding:0;
    margin: 6% 0 auto;
  }

  /* Ajustement de l'image */
  .hero-section img {
    width: 60vw; /* Prend la moitié de la largeur disponible */
    max-height: 70vh;
    margin: 0;
    padding:0;
    object-fit: cover;
    border-radius: 0;
  }

  /* Ajustement de la zone de contenu de texte en paysage */
  .hero-content {
    width: 55%; /* Prend la moitié de la largeur */
  }

  /* Ajustement du titre */
  .hero-content h2 {
    font-size: 2.5rem;
    padding: 0;
    position: absolute;
    width:70vw;
    top:15%;
    left:10%;
    color: white;
  }

  /* Ajustement du paragraphe */
  .hero-content p {
    position:absolute;
    width: 40vw;
    font-size: 1rem;
    color: white;
    padding:5%;
    margin-top: 5% ;
  }

  /* Bouton d'inscription mobile en paysage */
  .mobile-signup {
    display: none;
  }
  .desktop-signup {
    display: block;
    position: absolute;
    font-size:0.8rem;
    width: 25vw;
    border-radius: 5%;
    padding: 0.5rem ;
    margin: 5% auto;
    bottom:10%;
    left:10%;
    
  }
  .bground {
      display: none;
      position: fixed;
      z-index: 1;
      right: 0%;
      height: 100%;
      width: 100%;
      top:6%;
      background-color: black;
      justify-content:center;
      margin:6% auto;
  }
  .content {
    width:80%;
    height:70vh;
    background-color: #0b0c07;
    display: flex;
    justify-content: center;

  }
  /*-- Style globale formulaire --*/ 
  .formData  {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 60vw;
    position: relative;
    justify-content: center;
    bottom: 1%;
  }

  .formData .legend {
    font-size: var(--font-size-small);
  }
  /*-- LIste infos personnels --*/
  .form-list li {
    display: flex;
    flex-direction: column;

    justify-content:center;
    padding:0; 
    margin: 0 auto;
    
  }

  /* input infos personnels --*/
  .form-list input {
    width: 100%;
    padding: 4% 2%;
    border: none;
    border-radius: 0.5rem;

  }

  /*localisation*/
  .location-list  {
    display: flex;
    flex-direction:row;
    width: 100%;
    flex-wrap: wrap;
    gap: 5%;
    padding-left: 10%;
    align-items: center;
  }

  .checkbox-input {
    position:absolute ;
    opacity:0;
    width:0;
    height:0;
  }


  /* Icône de base pour le bouton radio (cercle vide) */
  .checkbox-icon {
    display: inline-flex;
    position: relative; /* Nécessaire pour positionner ::before et ::after */
    width: 1.2rem; /* Taille du cercle externe */
    height: 1rem;
    margin-right: 10px;
  }

  /* Style de l'icône de base (cercle) */
  .checkbox-icon::before {
    content: '';
    display: inline-flex;
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Cercle pour les boutons radio */
    border: 2px solid green; /* Couleur de la bordure du cercle */
    background-color: transparent; /* Fond transparent */
    padding: 0;
  }

  /* Point central (caché par défaut) */
  .checkbox-icon::after {
    content: '';
    display: none; /* Caché par défaut */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.6rem; /* Taille du point central */
    height: 0.6rem;
    border-radius: 50%; /* Rond pour le point central */
    background-color: green; /* Couleur du point central */
  }

  /* Afficher le point central lorsque l'input est sélectionné */
  .checkbox-input:checked + .checkbox-label .checkbox-icon::after {
    display: inline-flex; /* Affiche le point central lorsque coché */
  }

  /*-- Bouton close en croix --*/
  .close {
    display:flex;
    width: 100%;
    flex-direction: row-reverse;
    background-color: transparent;
    height:1vh;
    padding:0 5%;
    margin: 0;
    
  }

  /* Creation de la croix avec un + retourné */
  .close  span {
  font-size:var(--font-size-xlarge);
  font-weight:500;
  background-color: transparent;
  display: inline-block;
  transform: rotate(45deg) ;
  font-size: 2rem;
  padding-bottom: 0;
  margin-bottom: 0;
  }

  .btn-submit{
    
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  #confirmation-modal {
    display: none ;
    
  }
  #close-modal-btn {
    display: none;

  }
  /* Bordure rouge pour les champs en erreur */
  .error-input {
    border: 12px solid red;
  }

  /* Modale d'erreur */
  .error-modal {
    background-color: #e3fc03;
    color:red;
    padding: 2%;
    width: 100%;
    border-radius: 0.5rem;
    text-align: center;
    border: 3px solid red;
    margin-top: 5px;
    display: none; /* Caché par défaut */

    }

  .copyright {
  width: 50vw;
  justify-content: flex-start;
  font-size: 0.8rem;
  }
}
/*------------------------------------- Style petite tablette mode landscape
/*-------------------------------------------------------------------------------------------------------------*/
/*----------------------------------Style pour téléphones pliable mode plié ---------------------------------*/
@media screen and (min-width: 767px) and (max-width: 1024px)  and (max-height:600px) and (orientation: landscape) {
  .topnav {
    flex-direction: row; /* Organise les éléments horizontalement pour maximiser l'espace */
    width: 100%;
    justify-content: space-between; /* Espace entre les éléments pour aérer */
  }

  /* Ajustement de l'icône de menu en paysage */
  .topnav i {
    display: none;
  }

  .nav-links {
    display: flex;
    position: absolute;
    flex-direction: row; /* Organise les liens verticalement pour plié */
    font-size: 0.9rem; /* Taille de police légèrement réduite */
    right:5%;
    padding :0% 2%;
  }
  /* Style au survol */
  .topnav span:hover {
    padding: 0.2rem;
    border-radius: 0.4rem;
  }

  /* Ajustement des liens de la liste */
  .topnav.responsive .nav-links {
    flex-direction: row; /* Organise les liens horizontalement pour paysage */
    font-size: 0.9rem; /* Taille de police légèrement réduite */
    padding-top: 5%; /* Supprime le padding top pour un alignement plus serré */
    width: 90%;
  }

  /* Style des liens dans la nav en paysage */
  .topnav.responsive .nav-links a {
    padding: 0.3rem;
    margin: 0 0.5rem; /* Espacement entre les liens */
  }

  /* Section principale en mode paysage */
  .hero-section {
    flex-direction: row; /* Organise la section en lignes horizontales */
    align-items: center; /* Centre verticalement les éléments */
    background-color: #0b0c07;
    width: 90vw;
    height:70vh;
    justify-content: center;
    padding: 0;
    margin: 2% auto;
  }

  /* Ajustement de l'image */
  .hero-section img {
    width: 65vw; /* Prend la moitié de la largeur disponible */
    max-height: 70vh;
    margin: 0;
    padding:0;
    object-fit: cover;
    border-radius: 0;
  }

  /* Ajustement de la zone de contenu de texte en paysage */
  .hero-content {
    width: 55%; /* Prend la moitié de la largeur */
  }

  /* Ajustement du titre */
  .hero-content h2 {
    font-size: 2.2rem;
    padding: 0;
    position: absolute;
    width:70vw;
    top:15%;
    left:7%;
    color: white;
  }

  /* Ajustement du paragraphe */
  .hero-content p {
    font-size: 0.8rem;
    padding-top: 25%;
    padding-left: 5%;
    color: white;
  }

  /* Bouton d'inscription mobile en paysage */
  .mobile-signup {
    display: none;
  }
  .desktop-signup {
    display: block;
    font-size:1.2rem;
    width: 20vw;
    border-radius: 5%;
    padding: 0.5rem ;
    margin: 5%;
    
  }
}

/*---------------------------------------------------------------------------------------------------------*/
/*------------------------------Style pour petites tablettes  et smartphone pliable déplie en portrait entre 600px et 767px--------------------------*/
@media screen and (min-width: 600px) and (max-width: 767px) and (min-height:400px) {
    .topnav {
    flex-direction: row;
    justify-content:f;
    align-items: center;
    padding: 0;
  }

  .topnav i {
    display: none;
  }

  .nav-links {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-wrap: nowrap;
    font-weight: 900;
    width: 100%;
    justify-content:flex-start;
  }

  .hero-section {
    z-index: 1;
    width: 90vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    background-color: #0b0c07;    margin: 0 auto;
    justify-content: center;
    max-width: 1240px;
  }

  .hero-content {
    width: 60vw;
    justify-content:flex-end;
    padding: 4%;
    margin-bottom: 5%;
  }

  .hero-section h2{
    color: #ffffff;
    position: absolute;
    z-index: 3;
    font-size: 3rem;
    width: 65vw;
    top: 8%;
    font-weight: 500;
  }

  .hero-section p{
    width: 35vw;
    position:absolute;
    z-index: 3;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-bottom: 20%;
  }

  .hero-section img {
    position: relative;
    z-index: 2;
    width: 60vw;
    max-height: 60vh;
    margin: 0;
    padding: 0;
    object-fit: cover;
    border-radius: 0;
  }

  .desktop-signup {
    display: flex;
    font-size: 1.2rem;
    width:25vw;
    padding:3%;
    justify-content: center;
  }

  .mobile-signup{
    display: none;
  }
  .bground {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color:white;
    justify-content: center;
    top: 20%;  
  }

  .content {
    background-color: #0b0c07;
    width: 50%;
    display:block;
    margin: 0 auto;
    justify-content: center;
  }
  .modal-body {
    width: 80%;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
  }
  .formData {
    width: 100%;
    justify-content: center;
  }
  /* Styles pour petites tablettes */
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------Smartphone pliable déplié en mode landscape  -----------------------------------------------------*/
@media screen and (min-width: 767px) and (max-width: 1024px)  and (min-height:500px) and (max-height:767px) and (orientation: landscape) {
      .topnav {
    flex-direction: row;
    justify-content:f;
    align-items: center;
    padding: 0;
  }

  .topnav i {
    display: none;
  }

  .nav-links {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-wrap: nowrap;
    font-weight: 900;
    width: 100%;
    justify-content:flex-start;
  }

  .hero-section {
    z-index: 1;
    width: 90vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    background-color: #0b0c07;    margin: 0 auto;
    justify-content: center;
    max-width: 1240px;
  }

  .hero-content {
    width: 60vw;
    justify-content:flex-end;
    padding: 4%;
    margin-bottom: 5%;
  }

  .hero-section h2{
    color: #ffffff;
    position: absolute;
    z-index: 3;
    font-size: 3rem;
    width: 65vw;
    top: 8%;
    font-weight: 500;
  }

  .hero-section p{
    width: 35vw;
    position:absolute;
    z-index: 3;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-bottom: 10%;
  }

  .hero-section img {
    position: relative;
    z-index: 2;
    width: 60vw;
    max-height: 60vh;
    margin: 0;
    padding: 0;
    object-fit: cover;
    border-radius: 0;
  }

  .desktop-signup {
    display: flex;
    font-size: 1.2rem;
    width:25vw;
    padding:3%;
    justify-content: center;
  }

  .mobile-signup{
    display: none;
  }
  .bground {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color:white;
    justify-content: center;
    top: 20%;  
  }

  .content {
    background-color: #0b0c07;
    width: 50%;
    display:block;
    margin: 0 auto;
    justify-content: center;
  }
  .modal-body {
    width: 80%;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
  }
  .formData {
    width: 100%;
    justify-content: center;
  }
  /* Styles pour petites tablettes */

}
/*------------------------------- Styles pour appareils tablettes entre 768 px et 1023 px ----------------------------------*/ 
@media screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 767px) and (max-height:1440px) and (orientation: portrait) {
  header {
    width: 95vw; /* Le header prend 100% de la largeur de la page */
    display: flex; /* Utilise le flexbox pour disposer les éléments à l'intérieur */
    position:relative; /**/
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    background-color:white; /* Couleur de fond du header */
  }   

/* Image */
  header img {
    width:20%;
    max-width: 150px;
    height:auto; /* L'image occupe 50% de la largeur du conteneur parent */
    position: fixed;
    object-fit: cover;
    left:3.5%;
    top:1.2%;
    background-color: white;
  }

/*--------------------------------------------------------------------------------------*/
/*--------------------- BARRE DE NAVIGATION --------------------------------------------*/
/*--------------------------------------------------------------------------------------*/

/* conteneur */
  .topnav {
  display: block;
  flex-direction: column;
  width: 95vw;
  flex-wrap: nowrap;
  
  }

/* style au survol */
  .topnav span:hover {
      background-color: #ff0000;
      color: #ffffff;
      border-radius: 0.5rem;
      font-weight: 500;
      padding: 0.3rem ;
      text-decoration: underline;
  }

/* Style Icône Liste */
  .topnav i {
      display: block;
      color:red;
      cursor : pointer;
      position: fixed;
      right: 3.4%;
      top:0.5%;
      padding: 0.4rem;
      font-size: 1.4rem;
  }

  /* Style  survol icône liste */
  .topnav i:hover {
      background-color: #ff0000;
      color: #ffffff;
      border-radius: 0.5rem;
      font-weight: 500;
      padding: 0.4rem;
  }

  /* Affichage conditionnel liste */
  .nav-links {
      display: none;
      margin-bottom:2%;
  }
  .nav-links ul {
    width:70%;
    margin:0 auto;
    justify-content: center;
    text-align: center;
  }

/* affichage liste au clic sur l' icône */
  .topnav.responsive .nav-links {
      display: flex;
      flex-direction:column;
      font-size: 1rem;
      position: relative;
      text-align: center;
      justify-content: center;
      padding-top: 15%;
      flex-wrap: nowrap;
      width: 90%;
      z-index: 2; 
      margin:0 auto; 
      right:10%;
  }

  /* Style liens de la liste  */
  .topnav.responsive .nav-links a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

/*----------------------------------------------------------------------------------------------*/
/*--------------------- SECTION PRINCIPALE------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

/* Conteneur principale */*
  .hero-section {
      display: flex; /* Active la mise en page flexbox pour disposer les éléments en colonne */
      flex-direction: column; /* Les éléments à l'intérieur sont organisés en colonne (du haut vers le bas) */
      background-color: white; /* Définit un fond blanc pour la section */
      width: 90vw; /* La section occupe 95% de la largeur de son conteneur parent */
      margin: 0 auto; /* Centrage horizontal de la section (marges égales de chaque côté) */
      box-shadow: none; /* Désactive les ombres autour de la section */
      justify-content: center;
  }

  /*  Image */
  .hero-section img {
      width: 90vw; /* L'image à l'intérieur de la section occupe toute la largeur disponible */
      border-radius:5%;
      object-fit: cover;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
  }
  /* Conteneur Parent Textes et titre */
  .hero-content {
      display: flex; /* Active la mise en page flexbox pour disposer les éléments en ligne */
      flex-direction: column; /* Les éléments à l'intérieur sont organisés en ligne (du gauche à droite) */
      width: 90vw;
      justify-content: center;
      margin:0 auto
  }

  /* Style Titre */
  .hero-content h2 {
      color: black; /* Le texte du titre h2 est en noir */
      font-size: 3.9rem;
      padding-left: 0;
      padding-top:0;
  }
/*  Style Texte */
  .hero-content p {
    
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0%;
  }

  /* Affichage conditionnel bouton je m'inscris */
  .desktop-signup {
      display: none;/* Bouton mode desktop masqué par défaut */
  }
  .mobile-signup {
      display: block;
      justify-content: center;
      margin: 2% auto;
      font-size: 1.2rem;
      width:25vw;
  }

/*------------------------------------------------------------------------------------*/
/*------------------ Fenêtre modale --------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/* Conteneur principal pour le repli de la fenêtre modale */                    
  .bground {
      display: none;
      position: fixed;
      z-index: 1;
      right: 0%;
      top: 8%;
      height: 100%;
      width: 100%;
      background-color: black;
      color: white;
      justify-content:center;
      margin:0 auto;
      padding-bottom: 2%;
  }

  /*-- Style globale formulaire --*/ 
  .formData  {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    position: relative;
    left:-7.5vw;
    bottom: 1%;
  }

  .formData .legend {
    padding-left:12%;
    font-size: var(--font-size-small);
  }
  /*-- LIste infos personnels --*/
  .form-list li {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:center;
    padding:0; 
    margin: 0 auto;
    
  }

/* input infos personnels --*/
  .form-list input {
    width: 100%;
    padding: 4% 2%;
    border: none;
    border-radius: 0.5rem;

  }

/*localisation*/
  .location-list  {
    display: flex;
    flex-direction:row;
    width: 100%;
    flex-wrap: wrap;
    gap: 5%;
    padding-left: 10%;
    align-items: center;
  }

  .checkbox-input {
    position:absolute ;
    opacity:0;
    width:0;
    height:0;
  }


  /* Icône de base pour le bouton radio (cercle vide) */
  .checkbox-icon {
    display: inline-flex;
    position: relative; /* Nécessaire pour positionner ::before et ::after */
    width: 1.2rem; /* Taille du cercle externe */
    height: 1rem;
    margin-right: 10px;
  }

  /* Style de l'icône de base (cercle) */
  .checkbox-icon::before {
    content: '';
    display: inline-flex;
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Cercle pour les boutons radio */
    border: 2px solid green; /* Couleur de la bordure du cercle */
    background-color: transparent; /* Fond transparent */
    padding: 0;
  }

  /* Point central (caché par défaut) */
  .checkbox-icon::after {
    content: '';
    display: none; /* Caché par défaut */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.6rem; /* Taille du point central */
    height: 0.6rem;
    border-radius: 50%; /* Rond pour le point central */
    background-color: green; /* Couleur du point central */
  }

  /* Afficher le point central lorsque l'input est sélectionné */
  .checkbox-input:checked + .checkbox-label .checkbox-icon::after {
    display: inline-flex; /* Affiche le point central lorsque coché */
  }

  /*-- Bouton close en croix --*/
  .close {
    display:flex;
    width: 100%;
    flex-direction: row-reverse;
    background-color: transparent;
    height:1vh;
    padding:0 5%;
    margin: 0;
    
  }

  /* Creation de la croix avec un + retourné */
  .close  span {
  font-size:var(--font-size-xlarge);
  font-weight:500;
  background-color: transparent;
  display: inline-block;
  transform: rotate(45deg) ;
  font-size: 2rem;
  padding-bottom: 0;
  margin-bottom: 0;
  }

  .btn-submit{
    
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  #confirmation-modal {
    display: none ;
    
  }
  #close-modal-btn {
    display: none;

  }
  /* Bordure rouge pour les champs en erreur */
  .error-input {
    border: 12px solid red;
  }

  /* Modale d'erreur */
  .error-modal {
    background-color: #e3fc03;
    color:red;
    padding: 2%;
    width: 100%;
    border-radius: 0.5rem;
    text-align: center;
    border: 3px solid red;
    margin-top: 5px;
    display: none; /* Caché par défaut */

  }

  /*---------------------------------------------------------------------------*/
  /*------------------------ FOOTER -------------------------------------------*/
  /*---------------------------------------------------------------------------*/

  .copyright {
    width: 60vw;
    justify-content: center;
    margin:0 auto;
    font-size: 0.8rem;
    text-align: center;
    color:red
  }
}

/*------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

/* -----------------Ordinateurs portable entre 1024 px et 1440px ------------------------------------------*/

@media screen and (min-width: 1024px) and (max-width:1440px) {
  /*------------header------------- */
  /* Conteneur */
  header {
    width: 100%;
    padding: 2%;
    display: flex;
    font-weight: 900;
  }
  header img {
    display: block;
  }

  /* Logo */
  .logo {
    display: block;;
    padding: 3%;
  }

  /*----------Barre de navigation-----*/
  /* icône */
  .topnav i {
    display: none;
  }

  .topnav li span {
    font-size: 1rem;
    font-weight: 700;    
  }

  /* menu textuelle */
  .nav-links  {
    gap: 3%;
    display: flex;
    padding-top: 3%;
    flex-wrap: nowrap;
    font-weight: 900;
    width: 100%;
  }
  .nav {
    width: 60vw;
  }
  /*------------section principale ------------- */
  /* Conteneur */
  .hero-section {
    position:relative;
    width: 90vw;
    display: flex;
    flex-direction: row;
    background-color: #0b0c07;
    margin: 2% auto;
  

  }

  .hero-content {
    width: 50vw;
    justify-content:flex-end;
    padding: 4%;
    margin-bottom: 5%;
  }

  .hero-section h2{
    color: #ffffff;
    position: absolute;
    z-index: 1;
    font-size: 4.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 65vw;
    top:-15%;
    font-weight: 500;
  }

  .hero-section p{
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 8%;
    line-height: 1.5rem;
  }

  .hero-section img {
    width: 75vw;
    margin: 0;
    padding: 0;
    object-fit: cover;
  }

  .desktop-signup {
    display: flex;
    font-size: 1.2rem;
    padding:2%;
    justify-content: center;
  }

  .mobile-signup{
    display: none;
  }
  .bground {
    position: fixed;
    width: 100%;
    background-color:white;
    justify-content: center;
    padding-top: 2%;  
  }

  .content {
    background-color: #0b0c07;
    width: 50vw;
    display:block;
    margin: 0 auto;
    justify-content: center;
  }
  .modal-body {
    position: relative;
    width: 100%;
    padding: 0;
    left:10%;
    margin: 0 auto;
    justify-content: center;
  }
  .text-control {
    font-size: 0.8rem;
    padding: 1% 0;
    margin: 0 ;
  }
  .modal-body .form-list input.text-control {
    height: 1.5rem; /* Ajustez la hauteur selon vos besoins */
    padding: 0.5rem 1rem; /* Ajustez le padding pour équilibrer la taille du texte et l'espacement */
    font-size: 1rem; /* Taille de police pour rendre le texte plus lisible */
    border-radius: 0.5rem; 
  }
  .formData {
    width: 95%;
    justify-content: center;
  }
  .formData legend {
    position: relative;
    font-size: 1.5rem;
    padding: 1% 0;
    left:-3%;
    
  }
  .location-list {
    position: relative;
    left: 8%;
    padding:0;
    margin: 1% 0;
  }
  .consentement {
    margin:0;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------Écrans larges supérieur à 1440 px --------------------------------------------*/
@media screen and (min-width: 1440px){  
/*------------header------------- */
  /* Conteneur */
  header {
    width: 80vw;
    padding: 2%;
    display: flex;
    font-weight: 900;
  }

  /* Logo */
  .logo {
    display: block;
    padding:5% 7%;
  }

  /*----------Barre de navigation-----*/
  /* icône */
  .topnav i {
    display: none;
  }

  .topnav li span {
    font-size: 1rem;
    font-weight: 700;    
  }

  /* menu textuelle */
  .nav-links  {
    gap: 3%;
    display: flex;
    padding-top: 5%;
    flex-wrap: nowrap;
    font-weight: 900;
    width: 100%;
    justify-content: flex-end;
  }
  .nav {
    width: 60vw;
  }
  /*------------section principale ------------- */
  /* Conteneur */
  .hero-section {
    max-width: 1440 px;
    position:relative;
    width: 80vw;
    display: flex;
    flex-direction: row;
    background-color: #0b0c07;
    margin: 2% auto;
  

  }

  .hero-content {
    width: 50vw;
    justify-content:flex-end;
    padding: 4%;
    margin-bottom: 5%;
  }

  .hero-section h2{
    color: #ffffff;
    position: absolute;
    z-index: 1;
    font-size: 5.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50vw;
    top:-25%;
    font-weight: 500;
  }

  .hero-section p{
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 5%;
    line-height: 2rem;
  }

  .hero-section img {
    width: 90%;
    max-height:65vh;
    margin: 0;
    padding: 0;
    object-fit: cover;
    border-radius: 0;
  }

  .desktop-signup {
    display: flex;
    font-size: 1.6rem;
    width:12vw;
    padding:2% 5%;
    justify-content: center;
  }

  .mobile-signup{
    display: none;
  }
  .bground {
    position: fixed;
    width: 100%;
    background-color:white;
    justify-content: center;
    padding-top: 2%;  
  }

  .content {
    background-color: #0b0c07;
    width: 50vw;
    display:block;
    margin: 0 auto;
    justify-content: center;
  }
  .modal-body {
    position: relative;
    width: 100%;
    padding: 0;
    left:10%;
    margin: 0 auto;
    justify-content: center;
  }
  .text-control {
    font-size: 0.8rem;
    padding: 1% 0;
    margin: 0 ;
  }
  .modal-body .form-list input.text-control {
    height: 1.5rem; /* Ajustez la hauteur selon vos besoins */
    padding: 0.5rem 1rem; /* Ajustez le padding pour équilibrer la taille du texte et l'espacement */
    font-size: 1rem; /* Taille de police pour rendre le texte plus lisible */
    border-radius: 0.5rem; 
  }
  .formData {
    width: 95%;
    justify-content: center;
  }
  .formData legend {
    position: relative;
    font-size: 1.5rem;
    padding: 1% 0;
    left:-3%;
    
  }
  .location-list {
    position: relative;
    left: 8%;
    padding:0;
    margin: 1% 0;
  }
  .consentement {
    margin:0;
  }
}
