/********************************************************************************************************/
/*   Nom du fichier : _animations.scss                                                                  */
/*   Auteur : Trackozor                                                                                 */
/*   Date de création : 13/10/2024                                                                      */
/*   Description : style pour les animations                                                            */
/*   Version : 1.0                                                                                      */
/*   ---------------------------------------------------------------------------------------------------*/
/*                                                                                                      */
/********************************************************************************************************/

/* Animation pour faire clignoter la bordure rouge */
@keyframes borderBlink {
    0% {
        border-color: red; /* Début de l'animation : la bordure est rouge */
    }
    50% {
        border-color: transparent; /* Milieu de l'animation : la bordure devient transparente */
    }
    100% {
        border-color: red; /* Fin de l'animation : la bordure redevient rouge */
    }
}