/********************************************************************************************************/
/*   Nom du fichier : _error.scss                                                                       */
/*   Auteur : Trackozor                                                                                 */
/*   Date de création : 13/10/2024                                                                      */
/*   Description : style pour la gestion des erreurs                                                    */
/*   Version : 1.0                                                                                      */
/*   ---------------------------------------------------------------------------------------------------*/
/*                                                                                                      */
/********************************************************************************************************/

/* -------------------- ERREURS -------------------- */

.text-control.error-input {
    border: 2px solid red;
    box-shadow: 0 0 1rem red;
    animation: borderBlink 5s ease-in-out 3;
}

.error-modal {
    display: block;
    font-size: 0.8rem;
    background-color: #232323;
    color: red;
    padding: 1% 0;
    width: 90%;
    text-align: left;
    margin-top: 2%;
    position: relative;
    border-radius: 4px;
}