/********************************************************************************************************/
/*   Nom du fichier : _button.scss                                                                       */
/*   Auteur : Trackozor                                                                                 */
/*   Date de création : 13/10/2024                                                                      */
/*   Description : style des boutons                                                                    */
/*   Version : 1.0                                                                                      */
/*   ---------------------------------------------------------------------------------------------------*/
/*                                                                                                      */
/********************************************************************************************************/
button {
    width: 10rem;
    background: #fe142f;
    padding: 2% 5%;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: var(--font-size-small);
    position: relative;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken(#fe142f, 10%);
    }
}

/* -------------------- BOUTON DE FERMETURE -------------------- */

.close {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: flex-end;
    background-color: transparent;
    height: 2%;
    margin: 0;
    z-index: 5001;
}

.close span {
    font-size: var(--font-size-xlarge);
    font-weight: 500;
    background-color: transparent;
    display: inline-block;
    transform: rotate(45deg);
    font-size: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
