/********************************************************************************************************/
/*   Nom du fichier : _button.scss                                                                       */
/*   Auteur : Trackozor                                                                                 */
/*   Date de création : 13/10/2024                                                                      */
/*   Description : style des boutons                                                                    */
/*   Version : 1.0                                                                                      */
/*   ---------------------------------------------------------------------------------------------------*/
/*                                                                                                      */
/********************************************************************************************************/
button {
    width: 10rem;
    background: #fe142f;
    padding: 2% 5%;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: var(--font-size-small);
    position: relative;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken(#fe142f, 10%);
    }
}
