/********************************************************************************************************/
/*   Nom du fichier : _hero.scss                                                                        */
/*   Auteur : Trackozor                                                                                 */
/*   Date de création : 13/10/2024                                                                      */
/*   Description : style pour la section hero                                                           */
/*   Version : 1.0                                                                                      */
/*   ---------------------------------------------------------------------------------------------------*/
/*                                                                                                      */
/********************************************************************************************************/

.hero-section {
  display: flex; /* Active Flexbox pour organiser les éléments */
  flex-direction: column; /* Organise les enfants en colonne */
  background-color: transparent; /* Fond transparent */
  width: 90vw; /* Occupe 90% de la largeur disponible */
  margin: 0 auto; /* Centre horizontalement */
  box-shadow: none; /* Désactive les ombres */
  justify-content: center; /* Centre verticalement */
  transition: top 1s ease-in-out; /* Transition douce pour le positionnement vertical */
  overflow-y: auto; /* Permet le défilement si nécessaire */
  box-sizing: border-box; /* Inclut le padding dans les dimensions */
}

/* Image dans la section Hero */
.hero-section img {
  width: 90vw; /* L'image occupe 90% de la largeur */
  border-radius: 2%; /* Arrondi des coins de l'image */
  object-fit: cover; /* Redimensionne l'image en couvrant son conteneur */
  margin: 0 auto; /* Centre horizontalement l'image */
  justify-content: center; /* Centre horizontalement avec Flexbox */
  align-items: center; /* Centre verticalement avec Flexbox */
  transition: top 1s ease-in-out; /* Transition douce pour les changements de position */
}

/* Conteneur parent pour les textes */
.hero-content {
  display: flex; /* Active Flexbox pour organiser les enfants */
  flex-direction: column; /* Organise les enfants en colonne */
  width: 90vw; /* Occupe 90% de la largeur disponible */
  justify-content: center; /* Centre verticalement */
  margin: 0 auto; /* Centre horizontalement */
}

/* Style du titre */
.hero-content h2 {
  color: black; /* Couleur noire pour le titre */
  font-size: 2rem; /* Taille du texte pour le titre */
  padding-left: 0; /* Aucun espacement à gauche */
  padding-top: 1vh; /* Espacement vertical en haut */
}

/* Style du texte */
.hero-content p {
  font-size: 0.8rem; /* Taille réduite pour les paragraphes */
  font-weight: 700; /* Texte en gras */
  padding-bottom: 5%; /* Espacement sous le paragraphe */
}

/* Boutons "Je m'inscris" */

/* Style pour le bouton d'inscription en mode desktop */
.desktop-signup {
  display: none; /* Masque le bouton en mode desktop */
}

/* Style pour le bouton d'inscription en mode mobile */
.mobile-signup {
  display: block; /* Affiche le bouton en mode mobile */
  justify-content: center; /* Centre le contenu horizontalement */
  margin: 5% auto; /* Centre le bouton et ajoute un espacement */
}

/* Positions pour la section Hero */

/* Position par défaut (menu désactivé) */
.hero-default {
  top: 60%; /* Positionne la section Hero à 60% */
  transition: top 1s ease-in-out; /* Transition douce pour les changements */
}

/* Position lorsque le menu est activé */
.hero-responsive {
  top: 10vh; /* Positionne la section Hero plus haut */
  transition: top 2s ease-in-out; /* Transition douce pour les changements */
}
