/********************************************************************************************************/
/*   Nom du fichier : _modale.scss                                                                      */
/*   Auteur : Trackozor                                                                                 */
/*   Date de création : 13/10/2024                                                                      */
/*   Description : style pour la fenêtre modale                                                         */
/*   Version : 1.0                                                                                      */
/*   ---------------------------------------------------------------------------------------------------*/
/*                                                                                                      */
/********************************************************************************************************/
/* Conteneur principal pour le repli de la fenêtre modale */
/* -------------------- MODALE -------------------- */

/* Conteneur principal pour la fenêtre modale */
.bground {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 1%;
}

.modal-default {
    top: 6.5%;
    transition: top 0.3s ease-in-out;
}

.modal-responsive {
    top: 24%;
    transition: top 0.3s ease-in-out;
}

.bground.active {
    display: block;
}

.bground .content {
    border-radius: 2%;
}

.modal-body {
    background-color: #0b0c07;
}

/* -------------------- MODALE DE CONFIRMATION -------------------- */

#confirmation-modal {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 2%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 5000;
    align-items: center;
    justify-content: space-evenly;
}

#confirmation-modal span {
    font-size: 2rem;
    width: 80vw;
    text-align: center;
}

#confirmation-modal button {
    width: 25vw;
    padding: 5%;
    color: white;
    border: none;
}