/********************************************************************************************************/
/*   Nom du fichier : _global.scss                                                                      */
/*   Auteur : Trackozor                                                                                 */
/*   Date de création : 13/10/2024                                                                      */
/*   Description : style globaux                                                                        */
/*   Version : 1.0                                                                                      */
/*   ---------------------------------------------------------------------------------------------------*/
/*                                                                                                      */
/********************************************************************************************************/
/*============= Réinitialisation globale des marges et des espacements ============ */
html { 
    box-sizing: border-box;/* Définit le modèle de box-sizing pour inclure les bordures et les marges dans les dimensions des éléments */
    margin: 0;/* Supprime les marges par défaut de l'élément <html> */
    padding: 0;/* Supprime les espacements internes par défaut de l'élément <html> */
}

/*=============== Style du corps de la page =============*/
body {
    min-width: 300px;/* Définit une largeur minimale pour garantir une mise en page adaptée aux très petits écrans */
    max-width: 1200px; /* Limite la largeur maximale du contenu à 1200px pour éviter une trop grande extension sur les grands écrans */
    font-family: var(--font-default); /* Applique la police par défaut définie dans les variables CSS globales */
    background-color: white; /* Définit une couleur de fond blanche pour le corps du document */
    display: flex; /* Utilise Flexbox pour organiser les enfants du <body> */ 
    flex-direction: column;/* Aligne les éléments enfants verticalement dans une colonne */
    justify-content: center; /* Centre les éléments enfants sur l'axe vertical */
    align-items: center; /* Centre les éléments enfants sur l'axe horizontal */
    width: 85vw; /* Définit une largeur relative à 85 % de la largeur de la fenêtre */
    margin: 0 auto;/* Centrage horizontal du contenu dans la fenêtre en ajoutant des marges automatiques */
}


/*=================== Styles des boutons ================*/
button {
    width: 10rem; /* Définit une largeur fixe de 10rem pour le bouton */
    background: #fe142f; /* Applique une couleur de fond rouge vif (#fe142f) */
    padding: 2% 5%; /* Ajoute un espacement interne : 2% en haut/bas et 5% à gauche/droite */
    color: #fff; /* Définit la couleur du texte en blanc */
    border: none; /* Supprime les bordures par défaut du bouton */
    border-radius: 0.5rem; /* Arrondit les coins du bouton avec un rayon de 0.5rem */
    cursor: pointer; /* Change le curseur en "pointeur" pour indiquer qu'il est cliquable */
    font-size: var(--font-size-small); /* Utilise la taille de police définie dans les variables CSS globales */
    position: relative; /* Définit une position relative pour permettre des ajustements de placement internes */
    transition: background-color 0.3s ease; /* Ajoute une transition douce pour les changements de couleur de fond */
}

/* ================ Styles pour les listes ==================*/
ul {
    list-style-type: none; /* Supprime les puces ou numéros par défaut des éléments de liste */
}


/*================= Styles des étiquettes =====================*/
label {
    font-family: var(--font-default); /* Applique la police par défaut définie dans les variables CSS globales */
    font-size: var(--font-size-small); /* Définit la taille de police à une valeur petite pour les étiquettes */
    padding: 3% 0; /* Ajoute un espacement interne vertical de 3% et aucun espacement horizontal */
    flex-wrap: nowrap; /* Empêche le contenu de se répartir sur plusieurs lignes dans un contexte flex */
}


/*================= Style global pour les liens =================*/
a {
    color: inherit; /* Hérite de la couleur du texte parent (cela enlève le bleu par défaut) */
    text-decoration: none; /* Enlève le soulignement */
}

fieldset {
    border: none; /* Supprime la bordure par défaut autour du champ groupé */
}

.sr-only {
    position: absolute; /* Positionné en dehors du flux de la page */
    width: 1px; /* Très petit mais toujours existant */
    height: 1px; 
    padding: 0; 
    margin: -1px; /* Empêche les marges d'affecter le layout */
    overflow: hidden; /* Contenu masqué */
    clip: rect(0, 0, 0, 0); /* Masqué visuellement */
    white-space: nowrap; /* Empêche le retour à la ligne */
    border: 0; /* Pas de bordures */
}
