// ----------------------------------------
// RESET CSS
// ----------------------------------------
// Supprime les styles par défaut des navigateurs pour une base uniforme.

// Général
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; // Inhérent à la taille de la police par défaut
  font: inherit;   // Hérite de la famille de police du parent
  vertical-align: baseline;
}

// HTML5 : assure une prise en charge des éléments de type block
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

// Corps du document
body {
  line-height: 1; // Normalise l'interligne
}

// Listes : supprime les styles par défaut
ol, ul {
  list-style: none;
}

// Citations : supprime les guillemets ajoutés automatiquement
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

// Tables : supprime les espacements et collapse les bordures
table {
  border-collapse: collapse;
  border-spacing: 0;
}
